.progress-bar {
    width: 100%;
    background-color: @progressBarBgColor;
    height: @progressBarHeight;
    border-radius: @progressBarBorderRadius;
    overflow: hidden;

    &__bar {
        background-color: @progressBarFilledBgColor;
        height: 100%;
    }
}