@faqHeadingMarginBlock: @globalSpacing / 2;
@faqHeadingPaddingTop: @globalSpacing;
@faqHeadingPaddingBottom: @globalSpacing / 2;

@faqContentMaxWidth: 976px;

@faqItemBorder: 1px solid @neutralColors100;
@faqItemPaddingBlock: @globalSpacing;
