@blogArticlesListTagsGapMobile: @globalSpacing * 0.5 @globalSpacing * 0.25;

@blogArticlesListTagsHeaderMobilePaddingBottom: 16;

@blogArticlesListTagsTagColor: @neutralColors800;
@blogArticlesListTagsTagColorHover: @neutralColors800;

@blogArticlesListTagsTagCurrentBorder: 1px solid @neutralColors800;
