@contactInfoPaddingVertical: @globalSpacing * 0.625;
@contactInfoPaddingHorizontal: 0;

@contactInfoLogoSectionMarginBottom: @globalSpacing;

@contactInfoHeaderMarginBottom: @globalSpacing;

@contactInfoDetailsFontSize: @fontSizeInPxS;
@contactInfoDetailsIconMarginRight: 0.75 * @globalSpacing;
@contactInfoDetailsPhoneMarginBottom: 0;

@contactInfoLogoTextFontWeight: @fontWeightSemibold;

@contactInfoFontStyle: normal;

@contactInfoDetaisGap: @globalSpacing;

@contactInfoLinkColor: @globalFontColor;
