@searchColorDark: @globalFontColor;
@searchColorNeutral: @globalFontColorSecondary;
@searchColorLight: @globalFontColorTertiary;

@searchFontSize: @fontSizeInPxS;
@searchFontSizeSmall: @fontSizeInPxXS;
@searchFontWeightSemibold: @fontWeightSemibold;
@searchBorder: 1px solid @neutralColors200;

@searchBorderRadius: 4px;
@searchBorderHover: 1px solid @neutralColors900;
@searchBorderOutline: 4px solid @neutralColors800;
@searchOutlineColorFocus: @primaryColors700;
@searchBoxShadowFocus: @searchOutlineColorFocus;
@searchPadding: 4;
@searchPaddingHorizontal: 16px;
@searchPaddingVertical: 8px;
@searchLineHeight: @lineHeightInPxS;
@searchImageWidth: 64px;
@searchIconColorLight: @neutralColors0;
@searchLinkGap: 12px;
@searchSectionMarginBottom: 24px;
@searchInputHeight: 44px;
@searchClearWidth: 30px;

@searchContainerMaxHeight: 640px;
@searchContainerTop: 48px;
@searchContainerBorder: 1px solid @neutralColors100;
@searchContainerBoxShadow: 0px 12px 16px -4px rgba(17, 19, 22, 0.08), 0px 4px 6px -4px rgba(17, 19, 22, 0.08);

@searchInputBgColor: @controlBgcolor;

@searchInputPlaceholderColor: @globalFontColorTertiary;

@searchSubmitWidth: 36px;
@searchSubmitBorderRadius: 2px;
@searchSubmitBackgroundColor: @btnBgColorPrimary;

@searchHistoryMarginTop: 8px;
@searchHistoryIconColor: @neutralColors500;
@searchHistorySelectIconMarginRight: 12px;
@searchHistoryRemoveIconColor: @primaryColors100;
@searchHistoryRemoveIconBorderRadius: 16px;
@searchHistoryRemoveIconMargin: 4px;

@searchMessageColor: @errorColors600;
@searchMessageMarginBottom: 8px;
@searchMessageTextColor: @primaryColor;

@searchProductIconFilledColor: @warningColors500;
@searchProductIconEmptyColor: @neutralColors200;
@searchProductButtonColor: @btnBgColorPrimary;
@searchProductPricePromotionColor: @errorColors500;
@searchProductPricePromotionIconMarginRight: 5px;
@searchProductPricePromotionIconPadding: 1px;
@searchProductPricePromotionIconBorderRadius: 2px;
@searchProductPercentPromotionColor: @secondaryColors500;

@searchProductPaddingVertical: 3px;

@searchBarGap: @globalSpacing * 0.5;

@searchPopupFormMarginTop: @globalSpacing * 0.5;

@searchSidebarWidth: 517px;
