@gridSize: 12;
@gridGutter: 16;
@gridGutterRemValue: (@gridGutter / @baseFontSize);
@gridGutterRem: ~'@{gridGutterRemValue}rem';

@spacing: @globalSpacing * 0.5;

@gridContainerWidth: 1200px;
@gridContainerWidthL: 1400px;
@gridContainerWidthS: 1000px;

@gridFullFirstColPaddingLeft: 0;
@gridFullLastColPaddingRight: 0;