.product-short-description {
    &__content {
        .size-s();
        color: @globalFontColor;
        text-align: left;

        &-secondary {
            .size-xs();
            margin: @productShortDescriptionContentSecondaryMarginVertical 0;
            color: @productShortDescriptionContentSecondaryColor;
        }
    }
}
