@baseFontFamilyName: 'Inter';
@baseFontSize: 16;

@fontSizeInPxXxl: @baseFontSize + 8;
@fontSizeInPxXl: @baseFontSize + 4;
@fontSizeInPxL: @baseFontSize + 2;
@fontSizeInPxM: @baseFontSize;
@fontSizeInPxS: @baseFontSize - 2;
@fontSizeInPxXS: @baseFontSize - 4;

@baseLineHeight: @baseFontSize + 8;

@lineHeightInPxXl: @baseLineHeight + 8;
@lineHeightInPxL: @baseLineHeight + 4;
@lineHeightInPxM: @baseLineHeight;
@lineHeightInPxS: @baseLineHeight - 4;
@lineHeightInPxXS: @baseLineHeight - 4;
@lineHeightInPxXxs: @baseLineHeight - 8;

@fontWeightNormal: 400;
@fontWeightMedium: 500;
@fontWeightSemibold: 600;
@fontWeightBold: 700;
@fontWeightExtrabold: 800;

@overlineFontSize: @fontSizeInPxS;
@overlineFontWeight: @fontWeightSemibold;
@overlineFontSizeS: @fontSizeInPxXS;
