@priceFontSizeL: 20;
@priceFontSizeM: 18;
@priceFontSize: 16;
@priceFontSizeS: 14;
@priceFontSizeXs: 12;

@priceLineHeight: 20;

@priceColor: @globalFontColor;
@priceFontWeight: @fontWeightSemibold;

@specialPriceColor: @secondaryColor;

@secondaryPriceColor: @globalFontColorSecondary;

@priceVatInfoColor: @globalFontColorSecondary;
@priceVatInfoDesktopFontSize: @fontSizeInPxS;

@priceListSecondaryPadding: 10;
@priceListSecondaryBorderWidth: 1px;
@priceListSecondaryBorderStyle: solid;
@priceListSecondaryBorderColor: @neutralColors200;
