@indicatorColorPrimary: @neutralColors0;
@indicatorBgColorPrimary: @secondaryColor;
@indicatorBorderColorPrimary: @indicatorColorPrimary;

@indicatorColorSecondary: @neutralColors0;
@indicatorBgColorSecondary: @primaryColors500;
@indicatorBorderColorSecondary: @indicatorColorPrimary;

@indicatorFontSizeInPxXS: @fontSizeInPxXS;
@indicatorLineHeightInPxXS: @lineHeightInPxXS - 5;

@indicatorMinWidth: 21px;
@indicatorBorderWidth: 1px;
@indicatorBorderStyle: solid;
@indicatorBorderRadius: 17px;

@indicatorPaddingTop: 2;
@indicatorPaddingRight: 6;
@indicatorPaddingBottom: 2;
@indicatorPaddingLeft: 6;

@indicatorTransformTopRight: translate(80%, -50%);
@indicatorTransformTopLeft: translate(-80%, -50%);
@indicatorTransformBottomRight: translate(80%, 50%);
@indicatorTransformBottomLeft: translate(-80%, 50%);
@staticIndicatorSpacing: @globalSpacing * 0.25;
