@productBundleItemTileMinWidth: 288px;
@productBundleItemTileBorder: 1px solid @neutralColors200;
@productBundleItemTileBorderRadius: 4;
@productBundleItemTileBgColor: @neutralColors0;
@productBundleItemTileColor: @globalFontColor;
@productBundleItemTilePadding: @globalSpacing;
@productBundleItemTileBoxShadow: @shadowS;
