.product-bundle-item-tile {
    min-width: @productBundleItemTileMinWidth;
    padding: @productBundleItemTilePadding;

    border: @productBundleItemTileBorder;
    .pixel-to-rem(border-radius, @productBundleItemTileBorderRadius);

    background-color: @productBundleItemTileBgColor;
    box-shadow: @productBundleItemTileBoxShadow;

    color: @productBundleItemTileColor;
    text-align: left;
}

@media screen and (min-width: @breakPointXs) {
    .product-bundle-item-tile {
        &__price-container {
            display: flex;
            flex-wrap: wrap;
            row-gap: @globalSpacing * 0.5;
            column-gap: @globalSpacing * 0.25;
        }
    }
}