@productTileHeight: cover;
@maxPhotoHeightOnProductTile: 390;
@productTileImageHeight: ~'@{maxPhotoHeightOnProductTile}px';
@productTileFavouritesRightPos: 8px;
@productTileFavouritesBottomPos: 8px;
@productTileRowMargin: 0.5rem;
@productTileCodeFontSize: 12;
@productTileCodeColor: @globalFontColorSecondary;
@productTileNameFontSize: 16;
@productTileNameColor: @globalFontColor;
@productTileNameHeight: 45px;
@productTileProducerFontSize: 12;
@productTilePriceFontSize: 16;
@productTilePriceLineHeight: 1.5rem;
@productTilePriceSmallFontSize: 12;
@productTilePricePrimaryColor: @secondaryColors500;
@productTileTaxColor: @globalFontColor;
@productTileTaxSmallFontSize: 12;
@productTileInfoFontSize: 12;
@productTileInfoColor: @globalFontColor;
@productTileFooterButtonMargin: 0.5rem;
@productTileAvailabilityFontSize: 12;
@productTileAvailabilityColor: @globalFontColor;
@productTileAvailabilityErrorColor: @secondaryColors500;
@productTimeImageTransition: all 0.3s ease;
