.blog-articles-list-categories__container {
    container-type: inline-size;
}

@container (min-width: 768px) {
    .blog-articles-list-categories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem 1.5rem;
    }

    .blog-articles-list-categories__category {
        width: fit-content;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 4px;
    }
}
