@blogArticlesListCategoriesGapMobile: @globalSpacing * 0.25;

@blogArticlesListCategoriesHeaderMobilePaddingBottom: 16;

@blogArticlesListCategoriesCategoryWidth: 100%;
@blogArticlesListCategoriesCategoryColor: @globalFontColor;
@blogArticlesListCategoriesCategoryTextDecoration: none;
@blogArticlesListCategoriesCategoryPaddingVerticalMobile: 10;
@blogArticlesListCategoriesCategoryPaddingHorizontalMobile: 16;

@blogArticlesListCategoriesCategoryColorHover: @blogArticlesListCategoriesCategoryColor;
@blogArticlesListCategoriesCategoryFontSize: @fontSizeInPxS;
@blogArticlesListCategoriesCategoryLineHeight: @lineHeightInPxS;

@blogArticlesListCategoriesCategoryCurrentFontWeight: @fontWeightSemibold;

@blogArticlesListCategoriesGap: @globalSpacing @globalSpacing * 0.5;
@blogArticlesListCategoriesCategoryPaddingVertical: 4;
@blogArticlesListCategoriesCategoryPaddingHorizontal: 16;
