@productShippingPricesFontSize: @fontSizeInPxS;
@productShippingPricesLineHeight: @lineHeightInPxS;

@productShippingPricesIconMarginRight: @globalSpacing * 0.5;

@productShippingPricesModalShippingPadding: @globalSpacing * 0.25 @globalSpacing * 0.5;
@productShippingPricesModalShippingSecondaryBgColor: @neutralColors50;

@productShippingPricesModalShippingDetailsFontSize: @fontSizeInPxS;
@productShippingPricesModalShippingDetailsLineHeight: @lineHeightInPxS;
@productShippingPricesModalShippingDetailsFontWeight: @fontWeightSemibold;
@productShippingPricesModalShippingDetailsColor: @globalFontColor;


@productShippingPricesModalShippingPriceFontWeight: @fontWeightSemibold;
@productShippingPricesModalShippingPriceSecondaryColor: @secondaryColors500;

@productShippingPricesModalShippingDescriptionFontSize: @fontSizeInPxXS;
@productShippingPricesModalShippingDescriptionLineHeight: @lineHeightInPxXS;
@productShippingPricesModalShippingDescriptionColor: @globalFontColorSecondary;

@selectShippingPricesSelectWidth: 288px;
