@productListHeaderMarginBottom: @globalSpacing * 2.5;
@productListFooterMarginTop: @globalSpacing * 1.5;

@productListHeaderGapMobile: @globalSpacing * 2;
@productListHeaderMarginBottomMobile: @globalSpacing * 2;
@productListFooterMarginTopMobile: @globalSpacing * 2;
