@imageRoundedBorderRadiusInPx: 8px;

@imageSMinWidth: 88px;
@imageSMinHeight: 88px;
@imageSWidth: @imageSMinWidth;
@imageSHeight: @imageSMinHeight;

@imageSMobileMinWidth: 40px;
@imageSMobileMinHeight: 40px;
@imageSMobileWidth: @imageSMobileMinWidth;
@imageSMobileHeight: @imageSMobileMinHeight;
