<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="techtor_import_categories" xsi:type="object">Techtor\Import\Console\Command\ImportCategories</item>
                <item name="techtor_import_products" xsi:type="object">Techtor\Import\Console\Command\ImportProducts</item>
                <item name="techtor_import_stock" xsi:type="object">Techtor\Import\Console\Command\ImportStock</item>
            </argument>
        </arguments>
    </type>
</config>
