@fileBoxHeaderPaddingHorizontal: 4;
@fileBoxHeaderPaddingVertical: 6;
@fileBoxHeaderTextDecoration: none;

@fileBoxTitlePaddingHorizontal: 4;

@fileBoxDownloadIconStroke: @globalFontColorSecondary;

@fileBoxSizeColor: @globalFontColorSecondary;

@fileBoxDescriptionMarginTop: 12;

@fileBoxHeaderBackgroundColorHover: @neutralColors100;
@fileBoxHeaderBorderRadiusHover: 2px;
@fileBoxHeaderTextDecorationHover: underline;

@fileBoxBorderColorHover: @neutralColors200;
