@productAvailabilityDescriptionUnavailableColor: @errorColors500;
@productAvailabilityFontSize: @fontSizeInPxS;
@productAvailabilityLineHeight: @lineHeightInPxXS;
@productAvailabilityColor: @globalFontColor;
@productAvailabilityImageMaxHeight: 12;
@productAvailabilityImageMarginRight: 2;
@productAvailabilityImageAndDescriptionMaxHeight: 20;
@productAvailabilityImageAndDescriptionPaddingTop: 5;
@productAvailabilityDescriptionPaddingTop: 10;
@productAvailabilityFlexGap: @globalSpacing * 0.25;

@productAmountFontSize: 14;
@productAmountFontColor: @globalFontColorSecondary;

@productQuantityFontSize: @fontSizeInPxS;
@productQuantityLineHeight: @lineHeightInPxS;

@productQuantityInputBgColor: #fff;
@productQuantityInputBorderRadius: 8px;
