@sectionTitleFontWeight: @fontWeightSemibold;

@sectionTitleSecondaryFontSize: @fontSizeInPxL;
@sectionTitleSecondaryLineHeight: @lineHeightInPxL;

@sectionTitleFontSizeXS: @fontSizeInPxS;
@sectionTitleLineHeightXS: @lineHeightInPxS;
