.product-shipping-time {
    display: flex;
    align-items: center;

    .pixel-to-rem(gap, @productShippingTimeGap);

    .pixel-to-rem(font-size, @productShippingTimeFontSize);

    &__time {
        color: @productShippingTimeTimeColor;
    }
}
