@menuContentNameColor: @menuFontColorPrimary;
@menuContentLinkColor: @menuLinkColorSecondary;

@menuContentInfoBaseFontSizeInPx: @fontSizeInPxS;
@menuContentLinkFontSizeInPx: @fontSizeInPxXS;

@menuContentInfoMobileBaseFontSizeInPx: @fontSizeInPxM;
@menuContentLinkMobileFontSizeInPx: @fontSizeInPxS;

@menuContentInfoMobileLineHeightInPx: 24;
@menuContentInfoGapInPx: 12;