@moduleHeaderSFontSize: @fontSizeInPxL;
@moduleHeaderSMarginBottom: @globalSpacing;

@moduleLinkFontSize: @fontSizeInPxS;
@moduleLinkLineHeight: @lineHeightInPxS;
@moduleLinkColumnGap: 10;
@moduleLinkWrapperColumnGap: 24;
@moduleLinkMarginTop: 10;
@moduleLinkIconStroke: @primaryColors500;

@moduleDescriptionFontSize: 14;
@moduleDescriptionMarginTop: 8;
@moduleDescriptionMarginBottom: 40;
@moduleDescriptionMarginBottomMobile: 24;
