@dropdownTogglerColor: @globalFontColor;
@dropdownTogglerFill: @globalFontColor;
@dropdownTogglerBorder: none;
@dropdownTogglerBorderRadius: 2px;
@dropdownTogglerBgColor: transparent;
@dropdownTogglerTextDecorationHover: underline;

@dropdownTogglerOutlineColorFocus: @primaryColors700;

@dropdownContentBgColor: @globalBodyBackgroundColor;
@dropdownContentBoxShadow: @shadowL;

@dropdownContentPadding: @globalSpacing;

@dropdownContentBorder: 1px solid @neutralColors100;
@dropdownContentBorderRadius: 4px;

@dropdownBackdropBgColor: @neutralColors900;

@dropdownTransition: opacity 0.15s ease-in-out;
@dropdownChangeableProperties: opacity;

@dropdownMinWidthMobile: 310px;

@dropdownTransitionMobile: @dropdownTransition, transform 0.15s cubic-bezier(0, 1, 0.59, 0.97);
@dropdownChangeablePropertiesMobile: @dropdownChangeableProperties, transform;


