@commentMarginBottom: @globalSpacing * 2;
@commentPaddingBottom: @globalSpacing;
@commentBorderBottom: 1px solid @neutralColors100;

@commentSecondaryMaxWidth: 856px;

@commentHeaderMarginBottom: @globalSpacing;
@commentHeaderColumnGap: @globalSpacing * 0.75;

@commentHeaderAvatarFontSize: @fontSizeInPxXS;
@commentHeaderAvatarLineHeight: @lineHeightInPxS;
@commentHeaderAvatarFontWeight: @fontWeightSemibold;
@commentHeaderAvatarColor: @neutralColors0;
@commentHeaderAvatarSize: 32;
@commentHeaderAvatarBackgroundColor: @globalFontColor;
@commentHeaderAvatarBorderRadius: 22;

@commentAuthorFontSizePx: @fontSizeInPxS;
@commentAuthorLineHeightPx: @lineHeightInPxS;
@commentAuthorFontWeight: @fontWeightSemibold;
@commentAuthorColor: @globalFontColor;

@commentDateFontSizePx: @fontSizeInPxXS;
@commentDateColor: @globalFontColorSecondary;

@commentContentFontSizePx: @fontSizeInPxXS;
@commentContentColor: @globalFontColor;
