@headerFontWeight: @fontWeightSemibold;
@headerMarginBottom: @globalSpacing;

@headerH2FontSize: @h2FontSize;
@headerH2LineHeight: @h2LineHeightInPx;

@headerH3FontSize: @h3FontSize;
@headerH3LineHeight: @h3LineHeightInPx;

@headerH4FontSize: @h4FontSize;
@headerH4LineHeight: @h4LineHeightInPx;

@headerH5FontSize: @h5FontSize;
@headerH5LineHeight: @h5LineHeightInPx;

@headerH6FontSize: @h6FontSize;
@headerH6LineHeight: @h6LineHeightInPx;

@headerH2MobileFontSize: @h2MobileFontSize;
@headerH2MobileLineHeight: @h2MobileLineHeightInPx;

@headerH3MobileFontSize: @h3MobileFontSize;
@headerH3MobileLineHeight: @h3MobileLineHeightInPx;

@headerH4MobileFontSize: @h4MobileFontSize;
@headerH4MobileLineHeight: @h4MobileLineHeightInPx;

@headerH5MobileFontSize: @h5MobileFontSize;
@headerH5MobileLineHeight: @h5MobileLineHeightInPx;

@headerH6MobileFontSize: @h6MobileFontSize;
@headerH6MobileLineHeight: @h6MobileLineHeightInPx;

@headerUnderlineBorderBottomSize: 1px;
@headerUnderlineBorderBottomStyle: solid;
@headerUnderlineBorderBottomColor: @neutralColors200;
@headerUnderlineBorderBottom: @headerUnderlineBorderBottomSize @headerUnderlineBorderBottomStyle @headerUnderlineBorderBottomColor;

@headerHighlightBorderBottomSize: 3px;
@headerHighlightBorderBottomStyle: solid;
@headerHighlightBorderBottomColor: @primaryColor;
@headerHighlightBorderBottom: @headerHighlightBorderBottomSize @headerHighlightBorderBottomStyle @headerHighlightBorderBottomColor;

@headerPaddingVertical: @globalSpacing * 0.5;
@headerPaddingHorizontal: 0;

@productsHeaderMarginBottom: @globalSpacing * 2;
