@controlColor: @primaryColor;
@controlBgcolor: inherit;
@controlSpacing: 16;

@controlDisabledColor: @neutralColors300;
@controlDisabledBgColor: @neutralColors400;
@controlDisabledBorderColor: @neutralColors100;

@controlBorderColor: @neutralColors400;
@controlBorderRadius: @globalBorderRadius;

@controlLabelMarginBottom: 4;

@controlAdditionalContentMarginTop: 4;
@controlAdditionalTextContentFontSizeInPxXs: @fontSizeInPxXS;
@controlAdditionalTextContentColor: @globalFontColorSecondary;
@controlAdditionalContentBorder: 1px solid @neutralColors200;
@controlAdditionalContentBorderPaddingLeft: 23;
@controlAdditionalContentBorderMarginLeft: 10;

@controlElementFullWidth: 100%;
@controlElementThreeQuartersWidth: @controlElementFullWidth * 0.75;
@controlElementHafWidth: @controlElementFullWidth * 0.5;
@controlElementQuarterWidth: @controlElementFullWidth * 0.25;
@controlElementFlexGap: @globalSpacing;

@controlErrorColor: @errorColors500;
@controlErrorBorderColor: @errorColors500;
@controlErrorFontSizeInPxXs: @fontSizeInPxXS;
@controlErrorLineHeightInPxXs: @lineHeightInPxXS;
@controlErrorsMarginTop: 4;

@controlRadioBoxGap: 8px;
