@filePickerColor: @neutralColors700;
@filePickerButtonAppearanceHeight: 36;
@filePickerButtonAppearancePaddingH: 16;
@filePickerButtonAppearanceBorder: 1px solid @neutralColors300;
@filePickerButtonAppearanceBorderRadius: 2px;
@filePickerButtonAppearanceFontSize: 14;
@filePickerButtonAppearanceLineHeight: 20;
@filePickerErrorBorder: 2px solid @errorColors500;
@filePickerLabelIconMargin: 10;
