@fileGutter: 16;
@fileColor: @neutralColors700;
@fileBoxShadowActive: 0 0 0 1px @primaryColor;
@fileRemoveButtonColor: @errorColors500;
@fileRemoveButtonIconMargin: 14;
@fileRemoveButtonIconColor: @errorColors500;
