@formAdditionalInfoMarginTop: @globalSpacing * 1.5;
@formAdditionalInfoMarginBottom: @globalSpacing;

@formAdditionalInfoPaddingVertical: @globalSpacing * 0.25;
@formAdditionalInfoPaddingHorizontal: @globalSpacing * 0.5;

@formAdditionalInfoFontSizeInPx: @fontSizeInPxXS;
@formAdditionalInfoLineHeightInPx: @lineHeightInPxS;

@formAdditionalInfoBackgroundColor: @neutralColors100;
@formAdditionalInfoColor: @globalFontColor;

@formAdditionalInfoSecondaryColor: @primaryColor;

@formAdditionalInfoMarginLMarginTop: @globalSpacing;
@formAdditionalInfoMarginLMarginBottom: @globalSpacing * 2.5;
