@inputTransition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
@inputWrapperGutter: @globalSpacing * 0.5;

@inputBorderWidth: 1px;
@inputBorderStyle: solid;
@inputBorderColor: @controlBorderColor;
@inputBorderRadius: @controlBorderRadius;
@inputBorderColorHover: @neutralColors800;
@inputBorderColorFocus: @primaryColors500;
@inputBackgroundColor: @controlBgcolor;

@inputOutlineColorFocus: @primaryColors700;
@inputBoxShadowFocus: @inputOutlineColorFocus;

@inputFontSizeInPxS: @fontSizeInPxS;
@inputLineHeightInPxS: @lineHeightInPxS;

@inputPaddingTopL: 13;
@inputPaddingRightL: 12;
@inputPaddingBottomL: 13;
@inputPaddingLeftL: 12;

@inputPaddingTopM: 9;
@inputPaddingRightM: 12;
@inputPaddingBottomM: 9;
@inputPaddingLeftM: 12;

@inputPaddingTopS: 7;
@inputPaddingRightS: 12;
@inputPaddingBottomS: 7;
@inputPaddingLeftS: 12;

@inputWidthXs: 32;
@inputPaddingTopXs: 0;
@inputPaddingRightXs: 0;
@inputPaddingBottomXs: 0;
@inputPaddingLeftXs: 0;
@inputFontSizeXs: @fontSizeInPxXS;
@inputLineHeightXs: @lineHeightInPxS;

@inputPaddingTopWithButton: 4;
@inputPaddingRightWithButton: 4;
@inputPaddingBottomWithButton: 4;
@inputPaddingLeftWithButton: @inputPaddingRightM;

@inputBorderColorDisabled: @neutralColors100;
@inputBackgroundColorDisabled: @neutralColors100;
@inputColorDisabled: @neutralColors500;

@inputBorderColorError: @errorColors500;
@inputBoxShadowError: inset 0 0 0px 1px @inputBorderColorError;
@inputColorError: @errorColors500;

@inputIconColor: @neutralColors800;
@inputIconFontSizeInPxS: @inputFontSizeInPxS;
@inputIconLineHeightInPxS: @inputLineHeightInPxS;

@inputCopyBtnBorder: none;
@inputCopyBtnTextDecoration: none;
@inputCopyBtnColor: @primaryColor;
@inputCopyBtnFontWeight: @fontWeightSemibold;
