@labelColor: @globalFontColor;

@labelRequiredAsteriskColor: @primaryColor;
@labelRequiredAsteriskSize: @fontSizeInPxS;
@labelRequiredAsteriskPaddingLeftInPx: 8;
@labelRequiredAsteriskPaddingOffsetTopInPx: -1;
@labelRequiredAsteriskPaddingOffsetLeftInPx: 0;

@labelOptionalFontSizeInPx: @fontSizeInPxXS;
@labelOptionalColor: @neutralColors500;

@labelDisabledColor: @neutralColors600;
