@radioBoxSelectedColor: @primaryColor;
@radioBoxDisabledSelectedColor: @neutralColors100;

@radioBoxMinHeight: 44px;
@radioBoxBorderRadius: 2px;
@radioBoxBorder: 1px solid @neutralColors200;
@radioBoxSelectedBorder: 1px solid @primaryColors500;

@radioBoxSelectedBgColor: @primaryColors50;

@radioBoxSelectedBadgeSize: 16px;
@radioBoxSelectedBadgeTop: -4px;
@radioBoxSelectedBadgeRight: -4px;
@radioBoxSelectedBadgeBgColor: @radioBoxSelectedColor;
@radioBoxSelectedBadgeIconUrl: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
@radioBoxSelectedDisabledBadgeIconUrl: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 3L3 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3L9 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

@radioBoxDisabledSelectedBorderColor: @radioBoxDisabledSelectedColor;
@radioBoxDisabledSelectedCrossLine: linear-gradient(to top left, transparent 48%, @radioBoxDisabledSelectedColor, transparent 52%);

@radioBoxLabelPaddingVertical: 12;
@radioBoxLabelPaddingHorizontal: 12;
@radioBoxLabelColor: @globalFontColorSecondary;

@radioBoxDisabledColor: @globalFontColorSecondary;
@radioBoxDisabledBgColor: @neutralColors50;
@radioBoxDisabledBorderColor: @neutralColors200;
@radioBoxDisabledCrossLine: linear-gradient(to top left, transparent 48%, @radioBoxDisabledBorderColor, transparent 52%);

@radioBoxShadowFocus: @inputBoxShadowFocus;

@radioBoxBackgroundColor: @globalBodyBackgroundColor;
@radioBoxBackgroundColorHover: darken(@radioBoxBackgroundColor, 5%);
