@textareaTransition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
@textareaMinHeight: 100;

@textareaPadding: 1;

@textareaWrapperGutter: @globalSpacing * 0.5;

@textareaBorderWidth: 1px;
@textareaBorderStyle: solid;
@textareaBorderColor: @controlBorderColor;
@textareaBorderRadius: @controlBorderRadius;
@textareaBorderColorHover: @neutralColors800;
@textareaBackgroundColor: @controlBgcolor;

@textareaBoxShadowColorFocus: @primaryColors300;
@textareaOutlineColorFocus: @primaryColors700;
@textareaBoxShadowFocus: @textareaOutlineColorFocus;

@textareaFontSizeInPxS: @fontSizeInPxS;
@textareaLineHeightInPxS: @lineHeightInPxS;

@textareaControlPaddingTopM: 9;
@textareaControlPaddingRightM: 12;
@textareaControlPaddingBottomM: 9;
@textareaControlPaddingLeftM: 12;

@textareaBorderColorDisabled: @neutralColors100;
@textareaBackgroundColorDisabled: @neutralColors100;
@textareaColorDisabled: @neutralColors500;

@textareaBorderColorError: @errorColors500;
@textareaBoxShadowError: inset 0 0 0px 1px @textareaBorderColorError;
@textareaColorError: @errorColors500;
