@tabColor: @globalFontColorTertiary;
@tabFontSize: @fontSizeInPxXS;

@tabBackgroundColor: inherit;
@tabHoverColor: @primaryColor;

@tabPaddingVertical: 1;
@tabPaddingHorizontal: 15;
@tabBorderRadius: 4px;
@tabBorder: 1px solid @globalFontColorTertiary;

@tabSelectedBorder: 1px solid @primaryColor;
@tabSelectedColor: @neutralColors0;
@tabSelectedBackgroundColor: @primaryColor;