@btnBorderWidth: 1;
@btnBorderStyle: solid;
@btnBorderColor: transparent;
@btnBorderRadius: 4;

@btnPaddingVertical: 13;
@btnPaddingHorizontal: 18;
@btnPaddingIconHorizontal: 14;
@btnPaddingVerticalS: 7;
@btnPaddingHorizontalS: 14;
@btnPaddingIconHorizontalS: 12;
