@modalWidthL: 960px;
@modalWidthM: 640px;
@modalWidthS: 460px;
@modalSpacing: @globalSpacing * 2;
@modalGutter: @globalSpacing;

@modalOpenTransition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
@modalCloseTransition: opacity 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946);
@modalChangeableProperties: transform, opacity;

@modalContainerBgColor: @globalBodyBackgroundColor;
@modalContainerBorderRadius: 4px;

@modalContainerInputBgColor: @modalContainerBgColor;
@modalContainerTextareaBgColor: @modalContainerBgColor;
@modalContainerCheckboxBgColor: @modalContainerBgColor;

@modalTitleColor: @globalFontColor;
