@blogArticleGap: @globalSpacing * 1.5;

@blogArticleDetailsRowGap: @globalSpacing;

@blogArticleDetailsItemGap: @globalSpacing * 0.25;

@blogArticleDetailsItemFontSize: @fontSizeInPxS;
@blogArticleDetailsItemLineHeight: @lineHeightInPxS;

@blogArticleDetailsDetailFontWeight: bold;

@blogArticleDetailsLinkColor: @globalFontColor;
@blogArticleDetailsLinkTextDecoration: none;
@blogArticleDetailsLinkColorHover: @globalFontColor;
@blogArticleDetailsLinkTextDecorationHover: underline;

@blogArticleImageMaxHeight: 677;
@blogArticleImageWidth: 100%;

@blogArticleImageMaxHeightMd: 355;

@blogArticleImageMaxHeightXs: 469;
