@productPriceBasePriceMarginBottom: 8;
@productPriceBasePriceWithUnitPriceMarginBottom: 4;

@productPriceUnitPriceMarginBottom: 16;

@productPriceSpecialOfferDurationColor: @secondaryColors500;
@productPriceLowestHistoricalPriceColor: @globalFontColor;
@productPriceLowestHistoricalPriceMarginBottomInPx: 6;

@productPriceRegularPriceFontSizeInPx: 14;
@productPriceRegularPriceLineHeightInPx: 20;
@productPriceRegularPriceFontSizeInPxSecondary: 12;

@productPriceSpecialOfferDurationFontSizeInPx: 14;
@productPriceSpecialOfferDurationLineHeightInPx: 20;

@productPriceLowestHistoricalPriceFontSizeInPx: 14;
@productPriceLowestHistoricalPriceLineHeightInPx: 20;
@productPriceLowestHistoricalPriceFontSizeInPxSecondary: 12;

@productPriceOtherPriceValueFontSizeInPx: 14;
@productPriceOtherPriceValueLineHeightInPx: 20;

@productPriceMaxWidthInPxMobile: 288;

@productPriceRegularPriceFontSizeInPxMobile: 12;
@productPriceRegularPriceLineHeightInPxMobile: 20;

@productPriceSpecialOfferDurationFontSizeInPxMobile: 12;
@productPriceSpecialOfferDurationLineHeightInPxMobile: 20;

@productPriceLowestHistoricalPriceFontSizeInPxMobile: 12;
@productPriceLowestHistoricalPriceLineHeightInPxMobile: 20;

@productPriceOtherPriceValueFontSizeInPxMobile: 12;
@productPriceOtherPriceValueLineHeightInPxMobile: 20;

@productPriceLowestHistoricalPriceMarginBottomInPxMobile: 4;
