@productPriceRowFontSizeInPx: 14;
@productPriceRowLineHeightInPx: 20;
@productPriceRowSpacing: 17;
@productPriceRowInfoNotFirstOfTypeMarginTopInPx: 2;

@productPriceRowInfoColor: @globalFontColor;
@productPriceRowAlertColor: @secondaryColors500;

@productPriceRowFontSizeInPxMobile: 12;
@productPriceRowLineHeightInPxMobile: 20;
@productPriceRowInfoNotFirstOfTypeMarginTopInPxMobile: 4;

@productPriceRowSpacingMobile: 13;
