.border-color() {
    border-color: var(--neutralColors100);
}

.border-color-light() {
    border-color: var(--neutralColors50);
}

.border-color-strong() {
    border-color: var(--neutralColors200);
}

.border-color-stronger() {
    border-color: var(--neutralColors900);
}

.border-brand-color() {
    border-color: var(--brandColors500);
}

.border-critical-color() {
    border-color: var(--redColors500);
}
