@inputStepperDisplayValueMaxWidth: 60;
@inputStepperDisplayValuePaddingVertical: 0;
@inputStepperDisplayValuePaddingHorizontal: 4;
@inputStepperDisplayValueInputWidth: 48;
@inputStepperDisplayValueInputMarginTop: 2;
@inputStepperDisplayValueInputBackgroundColor: @controlBgcolor;

@inputStepperAdditionalContentBorderColor: @neutralColors300;
@inputStepperAdditionalContentBorder: 1px solid @inputStepperAdditionalContentBorderColor;
@inputStepperAdditionalContentPaddingVertical: 0;
@inputStepperAdditionalContentPaddingHorizontal: 5;
@inputStepperAdditionalContentLineHeight: 38;
@inputStepperAdditionalContentHeight: 40;
@inputStepperAdditionalContentMaxWidth: 70;

@inputStepperDisplayContainerBgColor: inherit;
