@filterOpionsSmallFontSize: 12;
@filterOptionsCategoriesMarginBottom: @globalSpacing;

@filterOptionsGroupMarginBottom: @globalSpacing * 2;

@filterOptionsCategoryLinkColor: @globalFontColor;
@filterOptionsCategoryLinkPadding: @globalSpacing * 0.4 @globalSpacing * 0.4 @globalSpacing * 0.4 0;

@filterOptionsActiveCategoryLinkBgColor: @neutralColors50;
@filterOptionsActiveCategoryLinkFontWeight: @fontWeightSemibold;
@filterOptionsActiveCategoryLinkPadding: @globalSpacing * 0.4;

@filterOptionsBackToCategoryLinkColor: @globalFontColor;
@filterOptionsBackToCategoryLinkMarginBottom: @globalSpacing;
@filterOptionsBackToCategoryLinkColumnGap: @globalSpacing * 0.5;

@filterOptionsCollapseBtnMarginBottom: @globalSpacing;

@clearFiltersColumnGap: @globalSpacing * 0.25;

@filterOptionsBgColor: @globalBodyBackgroundColor;
@filterOptionsActionsBorderTop: 1px solid @neutralColors200;
@filterOptionsActionsPadding: @globalSpacing 0;

@filterOptionsMinWidth: 16.625rem;
@filterOptionsWidth: 300px;
@filterOptionsSpacing: @globalSpacing;

@filterSubcategoriesMarginBottom: @globalSpacing * 0.5;

@filtersHorizontalMobileHeaderPadding: @globalSpacing * 0.5 @globalSpacing * 0.25 0;

@filtersHorizontalMobileHeaderCloseBtnBgColor: @neutralColors50;
@filtersHorizontalMobileHeaderCloseBtnPadding: @globalSpacing * 0.5;
