@modalSSOIndicatorSize: 20px;

@shoperSSOLightButtonBgColor: #fff;
@shoperSSOLightButtonTextColor: #0e1400;

@shoperSSODarkButtonBgColor: #0e1400;
@shoperSSODarkButtonTextColor: #fff;
@shoperSSODarkButtonBorderColor: #f9faf733;
