@ribbonsGap: 4px;
@ribbonTopPosition: 8px;
@ribbonLeftPosition: 0;
@ribbonVerticalPadding: 0;
@ribbonHorizontalPadding: 4;
@ribbonBorderRadius: 2px;

// SVE variables
@newRibbonBgColor: @neutralColors0;
@newRibbonFontColor: @globalFontColor;
@promoRibbonBgColor: @secondaryColor;
@promoRibbonFontColor: @neutralColors0;
@bestsellerRibbonBgColor: @secondaryColors100;
@bestsellerRibbonFontColor: @globalFontColor;

@ribbonBgColor: @newRibbonBgColor;
@ribbonTextColor: @newRibbonFontColor;
@ribbonBgColorPromo: @promoRibbonBgColor;
@ribbonTextColorPromo: @promoRibbonFontColor;
@ribbonBgColorSecondary: @bestsellerRibbonBgColor;
@ribbonTextColorSecondary: @bestsellerRibbonFontColor;
@ribbonFontWeight: @fontWeightSemibold;