@bundleItemsPadding: @globalSpacing;
@bundleItemsGap: @globalSpacing * 1.25;
@bundleItemsBgColor: @neutralColors50;
@bundleItemsBorderWidth: 1px;
@bundleItemsBorderStyle: dashed;
@bundleItemsBorderColor: @neutralColors300;
@bundleItemsBorderRadius: 8;

@bundleItemsPlusColor: @neutralColors300;
