@listItemColorNeutral: @globalFontColor;
@listItemStrokeColorNeutral: @globalFontColor;

@listItemColorChecked: @globalFontColor;
@listItemStrokeColorChecked: @successColors500;

@listItemColorError: @errorColors500;
@listItemStrokeColorError: @errorColors500;

@listItemSecondaryMarginBottom: @globalSpacing * 0.5;

@listItemFontSizeInPxS: @fontSizeInPxS;
@listItemLineHeightInPxS: @lineHeightInPxS;

@listItemSecondaryFontSizeInPx: @fontSizeInPxM;
@listItemSecondaryLineHeightInPx: @lineHeightInPxM;
@listItemSecondaryColor: @globalFontColorSecondary;

@listTitleFontSizeInPxS: @fontSizeInPxS;
@listTitleLineHeightInPxS: @lineHeightInPxS;

@listItemFeatureBackgroundColor: @neutralColors50;
@listItemFeatureGap: @globalSpacing * 0.5;
@listItemFeaturePadding: @globalSpacing * 0.25;
@listItemFeatureColor: @globalFontColorSecondary;
