@attributeGroupsColumns: 1;
@attributesGroupsColumnGap: @gridGutter * 2;
@attributeGroupColumns: 2;
@attributeGroupHeaderMarginBottom: 24;
@attributeGroupWidth: 100%;

@attributesColumnGap: @attributesGroupsColumnGap;

@attributesGroupMarginBottom: @gridGutter * 2;

@attributesAttributeSpacingHorizontal: @gridGutter * 0.5;
@attributesAttributeSpacingVertical: @gridGutter * 0.25;
@attributesAttributeColumnGap: @gridGutter;

@attributeNameWidth: 50%;
@attributeNameColor: @globalFontColorSecondary;
@attributeValueWidth: 50%;
@attributeValueFontWeight: @fontWeightSemibold;

@attributeNameShortWidth: 25%;

@attributeFontSize: @fontSizeInPxS;
@attributeLineHeight: @lineHeightInPxS;

@attributeIconCheckedColor: @successColors500;
@attributeIconUncheckedColor: @errorColors500;

@attributesAttributeSecondaryBackgroundColor: @neutralColors100;

@attributesAttributePaddingLSpacingHorizontal: @gridGutter * 1.25;
@attributesAttributePaddingLSpacingVertical: @gridGutter * 1.5;

@attributesAttributePaddingLSpacingHorizontalMobile: @gridGutter * 0.75;
@attributesAttributePaddingLSpacingVerticalMobile: @gridGutter * 0.5;
@attributesAttributePaddingLGapMobile: @globalSpacing * 0.25;
