@breadcrumbsGap: 4px;

@breadcrumbsListItemCurrentPageLinkColor: @globalFontColor;

@breadcrumbsListItemIconStroke: @globalFontColorSecondary;

@breadcrumbsListItemLinkDisabledColor: @globalFontColor;
@breadcrumbsListItemLinkDisabledColorHover: @globalFontColor;

@breadCrumbsListItemFontSize: 12;
@breadCrumbsListItemLineHeight: 20;
