@sideMenuCategoriesListGoBackLinkFontSize: @fontSizeInPxXS;
@sideMenuCategoriesListGoBackLinkLineHeight: @lineHeightInPxXS;
@sideMenuCategoriesListGoBackLinkMarginBottom: @globalSpacing * 0.5;

@sideMenuCategoriesListItemFontSize: @fontSizeInPxS;
@sideMenuCategoriesListItemLineHeight: @lineHeightInPxS;
@sideMenuCategoriesListItemMarginTop: @globalSpacing * 0.25;
@sideMenuCategoriesListItemMarginBottom: @globalSpacing * 0.25;

@sideMenuCategoriesListItemSecondaryColor: @primaryColor;
@sideMenuCategoriesListItemSecondaryFontWeight: @fontWeightBold; 

@sideMenuCategoriesListItemLinkFontWeight: @fontWeightNormal;
@sideMenuCategoriesListItemLinkColor: @globalFontColor;
@sideMenuCategoriesListItemLinkTextDecoration: none;

@sideMenuCategoriesListItemLinkColorHover: @globalFontColorSecondary;

@sideMenuCategoriesListItemLinkSecondaryColor: @linkColorPrimary;
@sideMenuCategoriesListItemLinkSecondaryColorHover: @linkColorPrimaryHover;

@sideMenuCategoriesListItemLinkActiveFontWeight: @fontWeightBold;
@sideMenuCategoriesListItemLinkActiveColor: @primaryColor;

@sideMenuCategoriesListItemLinkActiveListBorderLeft: 1px solid @neutralColors100;

@sideMenuCategoriesListLevelPaddingLeft: @globalSpacing * 0.25;
