@newsletterMaxWidth: 640;

@newsletterDescriptionFontSize: @fontSizeInPxS;
@newsletterDescriptionLineHeight: @lineHeightInPxS;

@newsletterControlsWrapperGap: @globalSpacing;
@newsletterControlsWrapperMarginBottom: @globalSpacing;

@newsletterSubmitButtonMarginTop: @globalSpacing;

@newsletterLegalNoticeFontSize: @fontSizeInPxXS;
@newsletterLegalNoticeLineHeight: @lineHeightInPxXS;
