@userMenuUserGapInPx: 12;

@userMenuUserIconSizeInPx: 48;
@userMenuUserIconBgColor: @neutralColors200;
@userMenuUserIconColor: @neutralColors500;
@userMenuUserIconFontSizeInPx: @fontSizeInPxXl;
@userMenuUserIconFontWeight: @fontWeightSemibold;
@userMenuUserIconBorderRadius: 100%;

@userMenuUserTextFontSizeInPx: @fontSizeInPxS;
@userMenuUserTextLineHeightInPx: @lineHeightInPxS;

@userMenuUserTextSecondaryFontWeight: @fontWeightSemibold;

@userMenuListGap: @globalSpacing * 0.5;

@userMenuLinkColor: @globalFontColor;
@userMenuLinkTextDecoration: none;
@userMenuLinkFontSizeInPx: @fontSizeInPxS;
@userMenuLinkLineHeightInPx: @lineHeightInPxS;

@userMenuLinkColorHover: @globalFontColor;
@userMenuLinkTextDecorationHover: underline;

@userMenuLinkColorSecondary: @primaryColor;

@userMenuLinkColorSecondaryHover: darken(@userMenuLinkColorSecondary, 14.5%);
