@separatorBorderWidth: 1px;
@separatorBorderStyle: solid;
@separatorBorderColor: @neutralColors200;

@separatorMarginVerticalBase: @globalSpacing;

@separatorXSMarginVertical: @separatorMarginVerticalBase * 0.5;
@separatorSMarginVertical: @separatorMarginVerticalBase;
@separatorMMarginVertical: @separatorMarginVerticalBase * 1.5;
@separatorLMarginVertical: @separatorMarginVerticalBase * 2;

@separatorMarginHorizontalBase: @globalSpacing;

@separatorMarginHorizontal: @separatorMarginHorizontalBase;
@separatorSMarginHorizontal: @separatorMarginHorizontalBase / 2;
@separatorMMarginHorizontal: @separatorMarginHorizontalBase * 1.25;

@separatorBorderColorSecondary: @neutralColors100;
@separatorBorderColorTertiary: @neutralColors200;
