@tooltipContentBackgroundColor: @neutralColors0;
@tooltipContentBoxShadow: @shadowL;
@tooltipContentPadding: 12;

@tooltipArrowSize: 16;
@tooltipArrowOffset: @tooltipArrowSize / 2;
@tooltipHorizontalDistanceFromSide: 24;
@tooltipVerticalDistanceFromSide: 12;
