@contactFormMaxWidth: 100%;

@contactFormDescriptionMarginTop: @globalSpacing * 1.5;
@contactFormDescriptionMarginBottom: @globalSpacing;

@contactFormDescriptionPaddingVertical: @globalSpacing / 4;
@contactFormDescriptionPaddingHorizontal: @globalSpacing / 2;

@contactFormDescriptionFontSizeInPx: @fontSizeInPxS;
@contactFormDescriptionLineHeightInPx: @lineHeightInPxS;

@contactFormInputMaxWidth: 407px;
@contactFormContainerMaxWidth: @contactFormInputMaxWidth;
@contactFormButtonWidth: fit-content;
