@splidePaginationDotBgColor: @neutralColors200;
@splidePaginationDotActiveBgColor: @neutralColors800;
@splidePaginationDotSize: 12px;
@splidePaginationDotBorderRadius: 50%;
@splidePaginationGap: 12;
@splidePaginationMarginTop: 30;
@splidePaginationMarginTopSmall: 10;

@splideArrowBackgroundColor: @neutralColors100;
@splideArrowBgColor: @neutralColors0;
@splideArrowSize: 40;
@splideArrowSizeSmall: 32;
@splideArrowsContainerWidthMobile: 90;

@splideArrowHoverBoxShadow: 0 1px 3px rgba(17, 19, 22, 0.08), 0 1px 2px -1px rgba(17, 19, 22, 0.08), 0 0 0px 6px rgba(0, 0, 0, 0.1);

@splideSliderNumberBgColor: @neutralColors100;
@splideSliderNumberPadding: 0.2rem;
@splideSliderBorderRadius: 4px;
@splideSliderColor: @globalFontColorSecondary;
@splideSliderFontSize: @fontSizeInPxXS;
@splideSliderFontWeight: @fontWeightSemibold;
