@sheetWrapperWidth: 400px;
@sheetWrapperMaxWidth: 500px;
@sheetWrapperMaxWidthOnMobile: 90dvw;

@sheetOpenTransition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
@sheetCloseTransition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
@sheetChangeableProperties: transform, opacity;

@sheetContainerBgColor: @globalBodyBackgroundColor;

@sheetSpacing: @globalSpacing * 2;
@sheetGutter: @globalSpacing;

@sheetContainerInputBgColor: @sheetContainerBgColor;
@sheetContainerTextareaBgColor: @sheetContainerBgColor;
@sheetContainerCheckboxBgColor: @sheetContainerBgColor;

@sheetTitleColor: @globalFontColor;
@sheetTitleFontSize: @h2FontSize;
@sheetTitleLineHeight: @h2LineHeightInPx;
