.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.inactive {
    filter: grayscale(1);
}

.resetcss {
    em {
        font-style: italic;
    }

    ul {
        padding-left: 40px;
        list-style-type: disc;
    }

    ol {
        padding-left: 40px;
        list-style-position: outside;
        list-style-type: decimal;
    }

    p,
    ol,
    ul {
        margin: 1em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: initial;
        font-weight: bold;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.83em 0;
    }

    h3 {
        font-size: 1.17em;
        margin: 1em 0;
    }

    h4 {
        font-size: 1em;
        margin: 1.33em 0;
    }

    h5 {
        font-size: 0.83em;
        margin: 1.67em 0;
    }

    h6 {
        font-size: 0.67em;
        margin: 2.33em 0;
    }

    blockquote {
        margin-left: 2em;
    }

    hr {
        border-style: inset;
        border-width: 1px;
    }
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}
