@addedToBasketModalFontsizeMobile: 0.875rem;
@addedToBasketModalLineHeightMobile: 1.25rem;

@addedToBasketModalFontsizeDesktop: 1rem;
@addedToBasketModalLineHeightDesktop: 1.5rem;

@addedToBasketModalCustomColor: @neutralColors100;

@addedToBasketModalContainerWidth: 29rem;

@addedToBasketModalImageSize: 8rem;

@addedToBasketModalQuantitySummaryPadding: 0.5rem;
@addedToBasketModalQuantitySummaryMargin: 1.5rem 0;

@addedToBasketModalProductNameMargin: 0.5rem 0;

@addedToBasketModalQuantityBadgeFontSize: 0.75rem;
@addedToBasketModalQuantityBadgePadding: 0 0.25rem;
@addedToBasketModalQuantityBadgeMargin: 0.5rem 0.5rem 0.5rem 0;

@addedToBasketModalDividerTop: 1px solid @addedToBasketModalCustomColor;
@addedToBasketModalDividerMargin: 0.75rem 0;

@addedToBasketModalButtonMobilePadding: 0.4375rem 1.0625rem;

@addedToBasketCloseIconColor: @neutralColors100;
@addedToBasketCloseIconShadow: 0 1px 3px rgba(17, 19, 22, 0.08), 0 1px 2px -1px rgba(17, 19, 22, 0.08), 0 0 0px 6px rgba(0, 0, 0, 0.1);
@addedToBasketCloseIconSize: 40;
