@iconWithTextItemGap: @globalSpacing;
@iconWithTextItemLineGap: @iconWithTextItemGap / 4;

@iconWithTextPadding: var(--iconWithTextPadding, 10px);
@iconWithTextBgColor: var(--iconWithTextBgColor, @globalBodyBackgroundColor);
@iconWithTextTextColor: var(--iconWithTextTextColor, @globalFontColor);
@iconWithTextBorderRadius: var(--iconWithTextBorderRadius, @globalBorderRadius);
@iconWithTextBorderWidth: var(--iconWithTextBorderWidth, 1px);
@iconWithTextBorderStyle: var(--iconWithTextBorderStyle, solid);
@iconWithTextBorderColor: var(--iconWithTextBorderColor, #000);
@iconWithTextBorderRadius: var(--iconWithTextBorderRadius, 0);
