.icon-m () {
    width: @iconMSize;
    height: @iconMSize;
}

.icon-l () {
    width: @iconLSize;
    height: @iconLSize;
}

.icon-xl () {
    width: @iconXlSize;
    height: @iconXlSize;
}

.icon-xxl () {
    width: @iconXxlSize;
    height: @iconXxlSize;
}

.icon-xxxl () {
    width: @iconXxxlSize;
    height: @iconXxxlSize;
}
