@iconMSize: 16px;
@iconLSize: 20px;
@iconXlSize: 24px;
@iconXxlSize: 32px;
@iconXxxlSize: 64px;

@iconColor: @globalFontColor;

@iconVariantLinkColor: @linkColorPrimary;

@iconVariantSuccessColor: @primaryColor;

@iconVariantErrorColor: @globalFontColor;

@iconVariantPromoColor: @neutralColors0;
@iconVariantPromoBgColor: @secondaryColor;
@iconVariantPromoPadding: 1;
@iconVariantPromoBorderRadius: 2;