@tileGridGap: 8px;
@tileGridGapBreakpointXs: 16px;
@tileGridGapBreakpointLg: 32px;

@tileGridLGap: 32px;
@tileGridLGapBreakpointXs: 16px;
@tileGridLGapBreakpointLg: 32px;

@tileGridProductColumnGap: @tileGridGap;
@tileGridProductColumnGapMd: 20px;
@tileGridProductRowGap: 16px;
@tileGridPadding: 1rem;
@tileGridProductPaddingBottom: 30px;
