@errorColor: #ea4640;

@hueError: hue(@errorColor);
@saturationError: saturation(@errorColor);

@errorColors10: mix(hsl(@hueError, @saturationError, 99%), transparent, 100);
@errorColors20: mix(hsl(@hueError, @saturationError, 98%), transparent, 100);
@errorColors50: mix(hsl(@hueError, @saturationError, 95%), transparent, 100);
@errorColors100: mix(hsl(@hueError, @saturationError, 90%), transparent, 100);
@errorColors200: mix(hsl(@hueError, @saturationError, 80%), transparent, 100);
@errorColors300: mix(hsl(@hueError, @saturationError, 70%), transparent, 100);
@errorColors400: mix(hsl(@hueError, @saturationError, 60%), transparent, 100);
@errorColors500: mix(hsl(@hueError, @saturationError, 50%), transparent, 100);
@errorColors600: mix(hsl(@hueError, @saturationError, 40%), transparent, 100);
@errorColors700: mix(hsl(@hueError, @saturationError, 30%), transparent, 100);
@errorColors800: mix(hsl(@hueError, @saturationError, 20%), transparent, 100);
@errorColors900: mix(hsl(@hueError, @saturationError, 10%), transparent, 100);