@infoColors50: lighten(@infoColors100, 5.2%);
@infoColors100: lighten(@infoColors200, 10.35%);
@infoColors200: lighten(@infoColors300, 5.2%);
@infoColors300: lighten(@infoColors400, 5.2%);
@infoColors400: lighten(@infoColors500, 10.3%);
@infoColors500: #464fe5;
@infoColors600: darken(@infoColors500, 14.5%);
@infoColors700: darken(@infoColors600, 14.9%);
@infoColors800: darken(@infoColors700, 14.5%);
@infoColors900: darken(@infoColors800, 7.4%);
