@noticeColors50: lighten(@noticeColors500, 37.5%);
@noticeColors100: lighten(@noticeColors500, 35.9%);
@noticeColors200: lighten(@noticeColors500, 29.9%);
@noticeColors300: lighten(@noticeColors500, 23.9%);
@noticeColors400: lighten(@noticeColors500, 17.9%);
@noticeColors500: #8c98a8;
@noticeColors600: darken(@noticeColors500, 7.5%);
@noticeColors700: darken(@noticeColors500, 22.8%);
@noticeColors800: darken(@noticeColors500, 37.8%);
@noticeColors900: darken(@noticeColors500, 52.8%);
