@successColor: #10b970;

@hueSuccess: hue(@successColor);
@saturationSuccess: saturation(@successColor);

@successColors10: mix(hsl(@hueSuccess, @saturationSuccess, 99%), transparent, 100);
@successColors20: mix(hsl(@hueSuccess, @saturationSuccess, 98%), transparent, 100);
@successColors50: mix(hsl(@hueSuccess, @saturationSuccess, 95%), transparent, 100);
@successColors100: mix(hsl(@hueSuccess, @saturationSuccess, 90%), transparent, 100);
@successColors200: mix(hsl(@hueSuccess, @saturationSuccess, 80%), transparent, 100);
@successColors300: mix(hsl(@hueSuccess, @saturationSuccess, 70%), transparent, 100);
@successColors400: mix(hsl(@hueSuccess, @saturationSuccess, 60%), transparent, 100);
@successColors500: mix(hsl(@hueSuccess, @saturationSuccess, 50%), transparent, 100);
@successColors600: mix(hsl(@hueSuccess, @saturationSuccess, 30%), transparent, 100);
@successColors700: mix(hsl(@hueSuccess, @saturationSuccess, 20%), transparent, 100);
@successColors800: mix(hsl(@hueSuccess, @saturationSuccess, 10%), transparent, 100);
@successColors900: mix(hsl(@hueSuccess, @saturationSuccess, 5%), transparent, 100);