@warningColor: #ffc107;

@hueWarning: hue(@warningColor);
@saturationWarning: saturation(@warningColor);

@warningColors10: mix(hsl(@hueWarning, @saturationWarning, 99%), transparent, 100);
@warningColors20: mix(hsl(@hueWarning, @saturationWarning, 98%), transparent, 100);
@warningColors50: mix(hsl(@hueWarning, @saturationWarning, 95%), transparent, 100);
@warningColors100: mix(hsl(@hueWarning, @saturationWarning, 90%), transparent, 100);
@warningColors200: mix(hsl(@hueWarning, @saturationWarning, 80%), transparent, 100);
@warningColors300: mix(hsl(@hueWarning, @saturationWarning, 70%), transparent, 100);
@warningColors400: mix(hsl(@hueWarning, @saturationWarning, 60%), transparent, 100);
@warningColors500: mix(hsl(@hueWarning, @saturationWarning, 50%), transparent, 100);
@warningColors600: mix(hsl(@hueWarning, @saturationWarning, 40%), transparent, 100);
@warningColors700: mix(hsl(@hueWarning, @saturationWarning, 30%), transparent, 100);
@warningColors800: mix(hsl(@hueWarning, @saturationWarning, 20%), transparent, 100);
@warningColors900: mix(hsl(@hueWarning, @saturationWarning, 10%), transparent, 100);