@videoPlayButtonSize: 3rem;
@videoPlayButtonColor: @neutralColors0;
@videoPlayButtonBorderRadius: 50%;
@videoPlayButtonTransition: 0.2s ease-in-out;
@videoPlayButtonHoverBoxShadow: @splideArrowHoverBoxShadow;

@videoControlsButtonBottomPosition: 30px;
@videoControlsButtonTransition: 0.2s ease-in-out;
@videoControlsButtonSize: 36px;
@videoControlsButtonDisabledColor: #7b7a77;
@videoControlsButtonColor: @neutralColors0;
@videoControlsButtonBgColor: rgba(44, 50, 59, 0.6);
@videoControlsButtonBorderRadius: 50%;

@videoAudioDescriptionDisplayPadding: 0.75rem;
@videoAudioDescriptionDisplayBackgroundColor: @neutralColors1000;
@videoAudioDescriptionDisplayColor: @neutralColors0;
@videoAudioDescriptionDisplayFontSize: 1rem;
@videoAudioDescriptionDisplayHeight: 2.5rem;

@videoTranscriptLinkColor: #0745c0;
@videoTranscriptLinkColorHover: @globalFontColor;
