.icon-size(@iconWidthSize, @iconHeightSize) {
    width: @iconWidthSize;
    height: @iconHeightSize;
}

.icon-color() {
    color: var(--neutralColors700);
    fill: var(--neutralColors700);
}

.icon-color-strong() {
    color: var(--neutralColors900);
    fill: var(--neutralColors900);
}

.icon-color-success() {
    color: var(--greenColors500);
    fill: var(--greenColors500);
}

.icon-color-critical() {
    color: var(--redColors500);
    fill: var(--redColors500);
}

.icon-color-warning() {
    color: var(--yellowColors500);
    fill: var(--yellowColors500);
}

.icon-color-info() {
    color: var(--blueColors500);
    fill: var(--blueColors500);
}

.icon-color-brand() {
    color: var(--brandColors500);
    fill: var(--brandColors500);
}

.icon-color-brand-strong() {
    color: var(--brandColors700);
    fill: var(--brandColors700);
}

.icon-color-inverse() {
    color: var(--neutralColors0);
    fill: var(--neutralColors0);
}
