@socialMediaListGap: @globalSpacing;
@socialMediaItemGap: @socialMediaListGap / 2;

@socialMediaIconPadding: var(--socialMediaIconPadding, 10);

@socialMediaIconBgColor: var(--socialMediaIconBgColor, @globalBodyBackgroundColor);
@socialMediaIconTextColor: var(--socialMediaIconTextColor, @globalFontColor);

@socialMediaIconBorderWidth: var(--socialMediaIconBorderWidth, 0px);
@socialMediaIconBorderStyle: var(--socialMediaIconBorderStyle, solid);
@socialMediaIconBorderColor: var(--socialMediaIconBorderColor, #000);
@socialMediaIconBorderRadius: var(--socialMediaIconBorderRadius, 0);
