@menuActionButtonFontColorPrimary: @menuLinkColorPrimary;
@menuActionButtonFontColorSecondary: @menuLinkColorSecondary;
@menuGoBackActionButtonColor: @menuLinkColorSecondary;

@menuGoBackActionButtonFontSizeInPx: @fontSizeInPxXS;
@menuGoBackActionButtonMobileFontSizeInPx: @fontSizeInPxS;
