.bg() {
    background-color: var(--neutralColors0);
}

.bg-subtle() {
    background-color: var(--neutralColors50);
}

.bg-brand-lighter() {
    background-color: var(--brandColors50);
}

.bg-brand-light() {
    background-color: var(--brandColors100);
}

.bg-brand() {
    background-color: var(--brandColors500);
}

.bg-brand-strong() {
    background-color: var(--brandColors700);
}

.bg-brand-stronger() {
    background-color: var(--brandColors900);
}

.bg-critical() {
    background-color: var(--redColors500);
}

.bg-critical-light() {
    background-color: var(--redColors50);
}

.bg-success() {
    background-color: var(--greenColors500);
}

.bg-success-light() {
    background-color: var(--greenColors50);
}

.bg-warning() {
    background-color: var(--yellowColors500);
}

.bg-warning-light() {
    background-color: var(--yellowColors50);
}

.bg-info() {
    background-color: var(--blueColors500);
}

.bg-info-light() {
    background-color: var(--blueColors50);
}
