
@productAskQuestionsModalProductImageWrapperMaxWidth: 128px;

@productAskQuestionsProductNameFontSize: @fontSizeInPxS;
@productAskQuestionsProductNameLineHeight: @lineHeightInPxS;
@productAskQuestionsProductNameColor: @globalFontColorSecondary;

@productAskQuestionsLegalNoticeFontSize: 10;
@productAskQuestionsLegalNoticeLineHeight: @lineHeightInPxXS;
@productAskQuestionsLegalNoticeColor: @globalFontColorSecondary;
@productAskQuestionsLegalNoticeMarginBottom: @globalSpacing * 2.5;
@productAskQuestionsLegalNoticeMobileMarginBottom: @globalSpacing;
