:root {
    --neutralColors0: #fff;
    --neutralColors50: #f7f7f8;
    --neutralColors100: #eeeef0;
    --neutralColors200: #dadadd;
    --neutralColors300: #b9bac0;
    --neutralColors400: #93949d;
    --neutralColors500: #74757f;
    --neutralColors600: #5f5f6a;
    --neutralColors700: #4e4e56;
    --neutralColors800: #434349;
    --neutralColors900: #2c2c30;
}
