:root {
    --redColors50: #fff1f3;
    --redColors100: #ffe0e4;
    --redColors200: #ffc6ce;
    --redColors500: #c30f27;
    --redColors700: #a31124;
    --redColors900: #4a050e;

    --greenColors50: #f1fcf5;
    --greenColors100: #dff9eb;
    --greenColors200: #c0f2d8;
    --greenColors500: #228352;
    --greenColors700: #1d5e3e;
    --greenColors900: #092a1b;

    --yellowColors50: #fdfbe9;
    --yellowColors100: #fbf8c6;
    --yellowColors200: #f8ee90;
    --yellowColors500: #efca25;
    --yellowColors700: #99630f;
    --yellowColors900: #3f2109;

    --blueColors50: #f1f8fe;
    --blueColors100: #e1effd;
    --blueColors200: #bcdffb;
    --blueColors500: #168fe1;
    --blueColors700: #09599b;
    --blueColors900: #0a2947;
}
