@baseFontSize: 14;

@displayLg: 20;
@displayMd: 16;
@textLg: 16;
@textMd: 14;
@textSm: 12;
@textXs: 10;

:root {
    --displayLg: 20;
    --displayMd: 16;
    --textLg: 16;
    --textMd: @baseFontSize;
    --textSm: 12;
    --textXs: 10;

    --fontWeightSemibold: 600;
    --fontWeightMedium: 500;
    --fontWeightRegular: 400;

    --displayLineHeightLg: 1.2;
    --displayLineHeightMd: 1.2;
    --textLineHeight: 1.4;
}
