@productShareModalProductNameColor: @globalFontColorSecondary;

@productShareModalSocialIconsGap: @globalSpacing * 1.5;
@productShareModalSocialIconsMarginBottom: @globalSpacing * 2;

@productShareModalSocialIconsGapMobile: @globalSpacing * 1.5;

@productShareModalSocialIconPadding: @globalSpacing * 0.75;
@productShareModalSocialIconBorderWidth: 1px;
@productShareModalSocialIconBorderStyle: solid;
@productShareModalSocialIconBorderColor: @neutralColors100;
@productShareModalSocialIconBorderRadius: 28px;
