@articleBorderWidth: 1px;
@articleBorderStyle: solid;
@articleBorderColor: @neutralColors200;
@articleBorderRadius: 4;

@articleNoTagsPaddingBottom: @globalSpacing * 0.75;

@articleImageBorderTopRadius: @articleBorderRadius;
@articleImageHeightMobile: 288px;
@articleImageHeight: 424px;

@articleMainSectionGap: @globalSpacing * 0.75;
@articleMainSectionPaddingTop: @globalSpacing * 0.75;
@articleMainSectionPaddingHorizontal: @globalSpacing;
@articleMainSectionFullPaddingPaddingBottom: @globalSpacing;

@articleCategoryColor: @globalFontColor;

@articleDateFontSize: @fontSizeInPxS;
@articleDateLineHeight: @lineHeightInPxS;
@articleDateColor: @globalFontColor;

@articleTitleFontSize: @fontSizeInPxXl;
@articleTitleLineHeight: @lineHeightInPxL;
@articleTitleFontWeight: bold;
@articleTitleColor: @globalFontColor;

@articleContentFontSize: @fontSizeInPxS;
@articleContentLineHeight: @lineHeightInPxS;
@articleContentColor: @globalFontColorSecondary;

@articleAuthorFontSize: @fontSizeInPxS;
@articleAuthorLineHeight: @lineHeightInPxS;
@articleAuthorFontWeight: bold;

@articleCommentsGap: @globalSpacing * 0.375;
@articleCommentsColor: @globalFontColor;

@articleCommentsQuantityFontSize: @fontSizeInPxS;
@articleCommentsQuantityLineHeight: @lineHeightInPxS;
@articleCommentsQuantityFontWeight: bold;

@articleSeparatorPadding: @globalSpacing * 2;

@articleTagsMarginTop: @globalSpacing;
@articleTagsPaddingHorizontal: @articleMainSectionPaddingHorizontal;
@articleTagsPaddingBottom: @articleMainSectionPaddingTop;
@articleTagsGap: @globalSpacing * 0.5;

@articleTagsContentBorderTopWidth: 1px;
@articleTagsContentBorderTopStyle: solid;
@articleTagsContentBorderTopColor: @neutralColors300;
@articleTagsContentPaddingTop: @globalSpacing;

@articleTagsTagTextDecoration: none;
@articleTagsTagColor: @neutralColors800;
