@loaderWidthXS: 16px;
@loaderHeightXS: 16px;

@loaderWidthS: 32px;
@loaderHeightS: 32px;

@loaderWidthM: 48px;
@loaderHeightM: 48px;

@loaderWidthL: 64px;
@loaderHeightL: 64px;

@loaderBorderStyle: solid;
@loaderBorderRadius: 50%;

@loaderBorderWidthXS: 2px;
@loaderBorderWidthS: 3px;
@loaderBorderWidthM: 4px;
@loaderBorderWidthL: 6px;

@loaderColorTrack: @neutralColors100;
@loaderColorMark: @primaryColors500;

@loaderColor: @neutralColors1000;

@loaderFontSizeInPxS: @fontSizeInPxS;
@loaderLineHeightInPxS: @lineHeightInPxS;

@loaderFontSizeInPxM: @fontSizeInPxS;
@loaderLineHeightInPxM: @lineHeightInPxS;

@loaderFontSizeInPxL: @fontSizeInPxM;
@loaderLineHeightInPxL: @lineHeightInPxM;

@loaderZIndex: 10;
