@productGalleryThumbnailsWidth: 60px;
@productGalleryColumnGap: @globalSpacing;
@bottomThumbnailsGap: @globalSpacing * 0.5;

@thumbnailItemBorder: 1px solid @neutralColors600;
@thumbnailItemBorderRadius: 3px;
@thumbnailItemPadding: 6;

@thumbnailsGalleryGap: @globalSpacing * 0.5;

@verticalThumbnailsImageWidth: 65px;
@verticalThumbnailsImageHeight: 65px;

@mainImageSplideSlidePadding: @globalSpacing * 0.25;

@horizontalThumbnailsPadding: @globalSpacing * 4;

@productGalleryGridImageGap: @globalSpacing * 0.85;
@productGalleryGridImageMobileGap: @globalSpacing * 0.5;
@productGalleryGridTemplateColumnsDesktop: repeat(2, 1fr);
@productGalleryGridTemplateColumnsMobile: 1fr;
@productGalleryGridTemplateFullColumn: span 2;

@openGalleryButtonPaddingVertical: @globalSpacing * 0.5;
@openGalleryButtonPaddingHorizontal: @globalSpacing;
@openGalleryButtonPositionRight: 16px;
@openGalleryButtonPositionBottom: 16px;
@openGalleryButtonBackgroundColor: @primaryColors100;
@openGalleryButtonTextColor: @primaryColor;
@openGalleryButtonBorderRadius: 8px;
@openGalleryButtonGap: @globalSpacing * 0.5;
