@selectOptionBgColor: @selectColorPrimary;
@selectOptionDisabledColor: @neutralColors400;

@selectOptionPaddingHorizontalInPx: 16;
@selectOptionPaddingVerticalInPx: 8;

@selectOptionFontSizeInPx: 14;
@selectOptionLineHeightInPx: 20;

@selectOptionSelectedColor: @selectSelectedColor;

@selectOptionHoverBgColor: @primaryColors50;
@selectOptionHoverColor: @globalFontColor;

@selectOptionMobilePaddingHorizontalInPx: 24;
@selectOptionMobilePaddingVerticalInPx: 8;

@selectOptionWithLinkLinkColor: @globalFontColor;
