@photoTitleFontSize: 20;
@photoTitleLineHeight: 28;
@photoTitleMarginBottom: 16;
@photoSliderSlideBorderRadius: 8;
@photoSliderSlideBorderRadiusMultiple: 4;
@photoSliderProgressMarginTop: 8;
@photoSliderProgressTrackBackgroundColor: @neutralColors200;
@photoSliderProgressBarHeight: 4;
@photoSliderProgressBarBackgroundColor: @neutralColors800;
@photoSliderProgressBarBorderRadius: 8;
@photoSliderArrowsGap: 16;
@photoSliderArrowsMarginTop: 16;
@photoSliderArrowRightSecondaryPaddingRight: 5;
@photoSliderArrowRightSecondaryPaddingLeft: 29;
@photoSliderArrowRightSecondaryBorderRadius: 27;
@photoSliderArrowRightSecondaryBackgroundColor: @neutralColors900;
@photoSliderArrowRightSecondaryIconStroke: @neutralColors50;
@photoSliderPaginationFontSize: 14;
