@breakpointXsName: xs;
@breakpointSmName: sm;
@breakpointMdName: md;
@breakpointLgName: lg;
@breakpointXlName: xl;
@breakpointXxlName: xxl;

@breakPointXs: 576px;
@breakPointSm: 768px;
@breakPointMd: 1000px;
@breakPointLg: 1200px;
@breakPointXl: 1440px;
@breakPointXxl: 1920px;
