@loyaltyNumberOfPointsIconStroke: @neutralColors600;
@loyaltyNumberOfPointsIconLabelColor: @globalFontColor;
@loyaltyNumberOfPointsPointsColor: @globalFontColorSecondary;
@loyaltyNumberOfPointsPointsFontWeight: @fontWeightSemibold;
