@footerGroupsSpacing: (@globalSpacing* 2);
@footerGroupLinkColor: @globalFontColor;
@footerGroupLinkHoverColor: @globalFontColor;
@footerGroupListMarginTop: @globalSpacing;
@footerGroupsSpacingXs: @globalSpacing;
