@visualSubcategoriesCategoryTileBgColor: var(--visualSubcategoriesTileBgColor, @globalBodyBackgroundColor);

@visualSubcategoriesCategoryTileTextDecorationColorHover: var(--visualSubcategoriesTileTextColor, @globalFontColor);

@visualSubcategoriesCategoryTileHeaderColor: var(--visualSubcategoriesTileTextColor, @globalFontColor);
@visualSubcategoriesCategoryTileHeaderColorHover: var(--visualSubcategoriesTileTextColor, @globalFontColor);

@visualSubcategoriesCategoryTileCaptionColor: var(--visualSubcategoriesTileTextColor, @globalFontColorSecondary);
@visualSubcategoriesCategoryTileCaptionColorHover: var(--visualSubcategoriesTileTextColor, @globalFontColorSecondary);
