@availabilityNotifierModalProductNameFontSize: @fontSizeInPxS;
@availabilityNotifierModalProductNameColor: @globalFontColorSecondary;
@availabilityNotifierModalFooterGap: @globalSpacing;
@availabilityNotifierModalTextFontSize: @fontSizeInPxS;