.shadow-xs() {
    box-shadow: @shadowXs;
}

.shadow-s() {
    box-shadow: @shadowS;
}

.shadow-m() {
    box-shadow: @shadowM;
}

.shadow-l() {
    box-shadow: @shadowL;
}

.shadow-xl() {
    box-shadow: @shadowXl;
}

.shadow-xxl() {
    box-shadow: @shadowXxl;
}

.shadow-reverse() {
    box-shadow: @shadowReverse;
}
