@colorSwatchesGap: 12px;
@colorSwatchesWidth: @colorSwatchesGap * 6 + @colorItemSize * 7;
@colorSwatchesNumberOfColumns: 7;
@colorSwatchesSWidth: @colorSwatchesGap * 6 + @colorItemSSize * 7;
@colorSwatchesColorItemOutlineColor: @primaryColors700;
