.blog-articles-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &__header {
        width: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        margin-bottom: @blogArticlesListHeaderMarginBottom;
    }

    &__footer {
        margin-top: @blogArticlesListFooterMarginTop;
    }
}

@media screen and (max-width: @breakPointXs) {
    .blog-articles-list {
        &__header {
            flex-direction: column;
            align-items: flex-start;

            gap: @blogArticlesListHeaderGapMobile;
            margin-bottom: @blogArticlesListHeaderMarginBottomMobile;
        }

        &__footer {
            width: 100%;

            margin-top: @blogArticlesListFooterMarginTopMobile;
        }
    }
}
