@blogArticlesListHeaderMarginBottom: calc(@globalSpacing * 2.5);
@blogArticlesListFooterMarginTop: calc(@globalSpacing * 1.5);

@blogArticlesListHeaderGapMobile: calc(@globalSpacing * 2);
@blogArticlesListHeaderMarginBottomMobile: calc(@globalSpacing * 2);
@blogArticlesListFooterMarginTopMobile: calc(@globalSpacing * 2);
