@linkColorPrimary: @primaryColor;
@linkColorPrimaryHover: darken(@linkColorPrimary, 20%);
@linkColorPrimaryActive: darken(@linkColorPrimary, 40%);

@linkColorSecondary: @globalFontColor;
@linkColorSecondaryHover: @globalFontColorSecondary;
@linkColorSecondaryActive: @globalFontColor;

@linkColorSecondaryNoUnderlineHoverColor: @globalFontColor;

@linkColorRegular: @globalFontColor;
@linkColorRegularHover: @primaryColors700;
@linkColorRegularActive: @primaryColors900;

@linkColorDisabled: @neutralColors400;

@linkFontSizeInPxM: @fontSizeInPxM;
@linkLineHeightInPxM: @lineHeightInPxM;

@skipLinkBgColor: @globalBodyBackgroundColor;

@skipLinkColor: @primaryColors800;
@skipLinkTextDecoration: none;
@skipLinkFontSizeInPx: 14;
@skipLinkLineHeightInPx: 21;

@skipLinkFontWeight: @fontWeightBold;
@skipLinkPadding: @globalSpacing;

@skipLinkBorder: 2px solid @primaryColors800;
@skipLinkBorderRadius: 8;
