.link-decorate-appearance (@color: @linkColorPrimary, @colorHover: @linkColorPrimaryHover, @colorActive: @linkColorPrimaryActive) {
    color: @color;

    &:hover {
        color: @colorHover;
    }

    &:active {
        color: @colorActive;
    }
}
