@infoBoxBorder: 1px solid @neutralColors100;
@infoBoxBorderRadius: 4px;
@infoBoxBgColor: @neutralColors50;
@infoBoxColor: @globalFontColorTertiary;
@infoBoxHeaderFontSize: 14;
@infoBoxContentFontSize: 12;
@infoBoxPadding: @globalSpacing;
@infoBoxHeaderMarginBottom: @globalSpacing * 0.25;
@infoBoxMinWidth: 288px;
@infoBoxFlexGap: @globalSpacing;
@infoBoxFullWidthMobileHorizontalSpacing: @globalSpacing * 3;
@infoBoxMaxWidth: 512px;

@infoBoxBorderSecondary: 1px solid @neutralColors200;
@infoBoxBgColorSecondary: transparent;
@infoBoxColorSecondary: @neutralColors900;

@infoBoxSPaddingVertical: @globalSpacing * 0.5;
@infoBoxSPaddingHorizontal: @globalSpacing * 0.5;

@infoBoxMPaddingVertical: @globalSpacing * 2;
@infoBoxMPaddingHorizontal: @globalSpacing * 1.5;

@infoBoxLPaddingVertical: @globalSpacing * 3;
@infoBoxLPaddingHorizontal: @globalSpacing * 4;

@infoBoxLPaddingVerticalMobile: @globalSpacing * 1.5;
@infoBoxLPaddingHorizontalMobile: @globalSpacing;
