@selectTogglerSelectedBorderColor: @selectSelectedColor;

@selectTogglerTagHeightInPx: 28;
@selectTogglerTagValuesGap: 6;
@selectTogglerTagValuesNumberOfRows: 3;

@selectTogglerLoadingHeight: 40;

@selectTogglerPaddingTopInPx: 6;
@selectTogglerPaddingBottomInPx: 6;
@selectTogglerPaddingRightInPx: 6.75;
@selectTogglerPaddingLeftInPx: 9;

@selectTogglerPlaceholderPaddingTopInPx: 10;
@selectTogglerPlaceholderPaddingRightInPx: @inputPaddingRightM;
@selectTogglerPlaceholderPaddingBottomInPx: 10;
@selectTogglerPlaceholderPaddingLeftInPx: @inputPaddingLeftM;
