@menuContentLayerBoxShadow:  0px 4px 6px -4px rgba(17, 19, 22, 0.08), 0px 12px 16px -4px rgba(17, 19, 22, 0.08);

@menuContentContainerMaxWidthInPx: @breakPointXxl;
@menuContentContainerMargin: 0 auto;

@menuContentBgColorPrimary: @globalBodyBackgroundColor;
