.menu-content {
    display: block;
    background-color: @menuContentBgColorPrimary;

    .custom-scrollbar();

    &_root {
        background-color: @menuBarBackgroundColor;
    }

    &_level-1 {
        box-shadow: @menuContentLayerBoxShadow;
    }

    &__container {
        display: flex;
        align-items: stretch;
        max-width: @menuContentContainerMaxWidthInPx;
        margin: @menuContentContainerMargin;
        overflow-x: auto;
    }
}

@media screen and (max-width: (@breakPointXs - 1)) {
    .menu-content {
        &__container,
        &_root {
            background-color: @menuBackgroundColorPrimary;
        }
    }
}
