@languageAndCurrencyMaxWidth: 640px;

@languageAndCurrencyModalBodyRowGap: 48;
@languageAndCurrencyModalBodyPaddingBottom: 2;
@languageAndCurrencyModalBodyHelperMarginTop: 32;

@languageAndCurrencyModalFormOpenerHorizontalColumnGap: @globalSpacing * 0.5;

@languageAndCurrencyFlagWidth: 26;
@languageAndCurrencyFlagHeight: 16;
@languageAndCurrencyFlagBorderRadius: 2px;

@languageAndCurrencyIconStroke:  @globalFontColorSecondary;

@languageAndCurrencyModalHeaderFontSize: @fontSizeInPxL;
