@ratingAndReviewModalProductImageWrapperMaxWidth: 128px;
@ratingAndReviewModalProductImageWrapperMarginBottom: @globalSpacing;

@ratingAndReviewModalProductNameFontSize: @fontSizeInPxS;
@ratingAndReviewModalProductNameLineHeight: @lineHeightInPxS;
@ratingAndReviewModalProductNameColor: @globalFontColorSecondary;
