@infoPageTitleFontSizeInPxMobile: 28;
@infoPageTitleLineHeightInPxMobile: 36;
@infoPageTitleMarginBottomMobile: @globalSpacing;

@infoPageTitleFontSizeInPx: 32;
@infoPageTitleLineHeightInPx: 40;
@infoPageTitleFontWeight: @fontWeightSemibold;
@infoPageTitleMarginBottom: @globalSpacing * 1.5;
