@flashMessagePaddingTop: 10;
@flashMessagePaddingRight: 12;
@flashMessagePaddingBottom: 10;
@flashMessagePaddingLeft: 12;

@flashMessageBorderRadius: 2px;

@flashMessageColumnGap: 12;

@flashMessageSuccessBgColor: @successColors50;
@flashMessageSuccessBorderColor: @successColors500;
@flashMessageSuccessColor: @successColors900;
@flashMessageSuccessIconStroke: @successColors500;
@flashMessageSuccessCloseIconStroke: @successColors900;

@flashMessageInfoBgColor: @infoColors50;
@flashMessageInfoBorderColor: @infoColors500;
@flashMessageInfoColor: @infoColors900;
@flashMessageInfoIconStroke: @infoColors500;
@flashMessageInfoCloseIconStroke: @infoColors900;

@flashMessageNoticeBgColor: @noticeColors800;
@flashMessageNoticeBorderColor: @noticeColors500;
@flashMessageNoticeColor: @neutralColors0;
@flashMessageNoticeIconStroke: @flashMessageNoticeColor;
@flashMessageNoticeCloseIconStroke: @flashMessageNoticeColor;

@flashMessageWarningBgColor: @warningColors50;
@flashMessageWarningBorderColor: @warningColors500;
@flashMessageWarningColor: @warningColors900;
@flashMessageWarningIconStroke: @warningColors500;
@flashMessageWarningCloseIconStroke: @warningColors900;

@flashMessageErrorBgColor: @errorColors50;
@flashMessageErrorBorderColor: @errorColors500;
@flashMessageErrorColor: @errorColors900;
@flashMessageErrorIconStroke: @errorColors500;
@flashMessageErrorCloseIconStroke: @errorColors900;

@flashMessagesTransition: opacity 0.3s ease-in-out;
