@boxPadding: 24;
@boxPaddingS: 8;
@boxBorderRadius: 4px;

@boxBorderWidth: 1px;
@boxBorderStyle: solid;
@boxBorderColor: @neutralColors100;

@boxHeaderTitleColor: @globalFontColor;

@boxDescriptionColor: @globalFontColor;

@boxPrimaryBgColor: @neutralColors50;
@boxPrimaryBorderColor: @neutralColors100;
