@baseTagBgColor: @neutralColors100;
@baseTagCloseButtonIconColor: @neutralColors500;
@baseTagInteractiveHoverBgColor: @neutralColors200;
@baseTagInteractiveHoverIconColor: @neutralColors800;

// SVE variables
@productRibbonFontColor: @neutralColors800;
@productRibbonBgColor: @neutralColors200;

@tagFontSizeInPx: 14;
@tagLineHeightInPx: 20;

@tagBorderRadius: 1px;

@tagSecondaryPaddingHorizontal: @globalSpacing;
@tagSecondaryPaddingVertical: @globalSpacing * 0.5;
@tagSecondaryBorderRadius: 20;

@tagTertiaryPaddingHorizontal: @globalSpacing * 0.5;
@tagTertiaryPaddingVertical: @globalSpacing * 0.25;
@tagTertiaryBorderRadius: 20;

@tagSuccessBackgroundColor: @successColors50;
@tagSuccessColor: @successColors800;

@tagInfoBackgroundColor: @primaryColors50;
@tagInfoColor: @primaryColors900;

@tagErrorBackgroundColor: @errorColors100;
@tagErrorColor: @errorColors800;

@tagNoticeBackgroundColor: @neutralColors900;
@tagNoticeColor: @neutralColors0;

@tagQuaternaryPaddingHorizontal: @globalSpacing * 0.375;
@tagQuaternaryPaddingVertical: 0;
@tagQuaternaryBorderRadius: 0;
@tagQuartenaryFontSizeInPx: @fontSizeInPxXS;
@tagQuartenaryColor: @productRibbonFontColor;
@tagQuartenaryBgColor: @productRibbonBgColor;

@tagMinimalFontSize: @fontSizeInPxXS;
@tagMinimalLineHeight: @lineHeightInPxXS;
@tagMinimalFontWeight: @fontWeightSemibold;
@tagMinimalColor: @globalFontColor;
@tagMinimalBgColor: @neutralColors100;
@tagMinimalBorderWidth: 1px;
@tagMinimalBorderStyle: solid;
@tagMinimalBorderColor: @neutralColors200;
@tagMinimalBorder: @tagMinimalBorderWidth @tagMinimalBorderStyle @tagMinimalBorderColor;
@tagMinimalPaddingVertical: 0;
@tagMinimalPaddingHorizontal: @globalSpacing * 0.5;

@tagPromotionColor: @neutralColors0;
@tagPromotionBgColor: @secondaryColors500;
@tagPromotionBorderRadiusInPx: 2;

@tagGroupGapInPx: 4;
