@featuredProductGridTemplateColumns: 1fr 1fr;
@featuredProductGap: @globalSpacing;
@featuredProductAlignItems: flex-start;
@featuredProductJustifyItems: stretch;
@featuredProductAlignContent: flex-start;

@featuredProductContentGap: @globalSpacing * 0.75;

@featuredProductRatingGap: @globalSpacing * 0.5;
@featuredProductRatingAlignItems: center;

@featuredProductActionsAlignItems: flex-end;
@featuredProductActionsGap: @globalSpacing * 0.5;

@featuredProductBuyShowActionsFlex: 1 0 auto;

@featuredProductHeadBarGap: @globalSpacing * 0.5;
@featuredProductHeadbarDisplayDirection: 'column';

@featuredProductAvailabilityFlexGap: @globalSpacing * 0.25;
