<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <techtor_baselinker>
            <general>
                <enabled>0</enabled>
                <api_token/>
                <inventory_id>4433</inventory_id>
            </general>
            <orders>
                <sync_enabled>0</sync_enabled>
                <order_source_id/>
                <new_order_status_id>0</new_order_status_id>
                <sync_statuses>0</sync_statuses>
            </orders>
            <stock>
                <stock_sync_enabled>0</stock_sync_enabled>
                <stock_source_code>default</stock_source_code>
            </stock>
        </techtor_baselinker>
    </default>
</config>
