<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- API Client -->
    <preference for="Techtor\BaseLinker\Api\ClientInterface"
                type="Techtor\BaseLinker\Model\Client"/>

    <!-- Logger -->
    <virtualType name="TechtorBaseLinkerLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Techtor\BaseLinker\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Inject custom logger do wszystkich klas modulu -->
    <type name="Techtor\BaseLinker\Model\Client">
        <arguments>
            <argument name="logger" xsi:type="object">TechtorBaseLinkerLogger</argument>
        </arguments>
    </type>
    <type name="Techtor\BaseLinker\Observer\OrderPlaceAfter">
        <arguments>
            <argument name="logger" xsi:type="object">TechtorBaseLinkerLogger</argument>
        </arguments>
    </type>
    <type name="Techtor\BaseLinker\Cron\SyncOrders">
        <arguments>
            <argument name="logger" xsi:type="object">TechtorBaseLinkerLogger</argument>
        </arguments>
    </type>
    <type name="Techtor\BaseLinker\Cron\SyncStock">
        <arguments>
            <argument name="logger" xsi:type="object">TechtorBaseLinkerLogger</argument>
        </arguments>
    </type>
    <type name="Techtor\BaseLinker\Cron\SyncStatuses">
        <arguments>
            <argument name="logger" xsi:type="object">TechtorBaseLinkerLogger</argument>
        </arguments>
    </type>

    <!-- CLI commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="techtor_bl_sync_orders" xsi:type="object">Techtor\BaseLinker\Console\Command\SyncOrdersCommand</item>
                <item name="techtor_bl_sync_stock" xsi:type="object">Techtor\BaseLinker\Console\Command\SyncStockCommand</item>
                <item name="techtor_bl_test_connection" xsi:type="object">Techtor\BaseLinker\Console\Command\TestConnectionCommand</item>
            </argument>
        </arguments>
    </type>
</config>
