<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Po zlozeniu zamowienia — push do BaseLinker -->
    <event name="sales_order_place_after">
        <observer name="techtor_baselinker_order_place"
                  instance="Techtor\BaseLinker\Observer\OrderPlaceAfter"/>
    </event>
</config>
