@menuFontColorPrimary: @globalFontColor;
@menuFontColorSecondary: @primaryColors500;

@menuLinkColorPrimary: @menuFontColorPrimary;
@menuLinkColorSecondary: @menuFontColorSecondary;
@menuLinkColorTertiary: @neutralColors0;
@menuLinkBgColorHover: @neutralColors100;

@menuBackgroundColorPrimary: @globalBodyBackgroundColor;
@menuBackgroundColorSecondary: @neutralColors50;
@menuBarBackgroundColor: @menuBackgroundColorPrimary;

@menuBarActiveLinkBorderColor: @globalFontColor;
@menuBarActiveLinkBgColor: @primaryColors50;
@menuBarActiveLinkBorderWidthInPx: 2px;
@menuBarActiveLinkBorderTransparent: @menuBarActiveLinkBorderWidthInPx solid transparent;
@menuBarActiveLinkBorder: @menuBarActiveLinkBorderWidthInPx solid @menuBarActiveLinkBorderColor;
@menuBarActiveLinkSecondaryBorder: @menuBarActiveLinkBorderWidthInPx solid @menuListLinkSecondaryColor;
@menuBarLinkFontSizeInPx: 16;
@menuBarLinkLineHeight: 24;
@menuBarLinksListMaxWidth: @breakPointLg;

@menuSidebarBgColor: @menuBackgroundColorSecondary;
@menuSidebarWidthInPx: 219;
@menuSidebarWidthXlInPx: 309;

@menuListLinkPaddingHorizontal: @globalSpacing * 0.75;
@menuListLinkPaddingVertical: @globalSpacing;

@menuListLinkSecondaryColor: @primaryColor;
@menuListLinkSecondaryFontWeight: @fontWeightSemibold;
@menuListLinkSecondaryColorHover: darken(@menuListLinkSecondaryColor, 14.5%);

@submenuListLinkPaddingTop: @globalSpacing * 0.5;
@submenuListLinkPaddingBottom: @globalSpacing * 0.5;
@submenuListLinkPaddingRight: @globalSpacing * 0.5;
@submenuListLinkPaddingLeft: @globalSpacing * 2;
@submenuListFontSizeInPx: 14;
@submenuListLineHeightInPx: 20;

@menuLevelRestNumberOfRows: 10;
@menuLevelSecondNumberOfRows: 4;

@menuMobileActionsButtonsBorderColor: @neutralColors100;

@menuContentLayerTopPosition: 100%;

@menuWidthSidebarContentLevelRestColumnWidthInPx: 300;
@menuContentLevelRestColumnWidthInPx: 219;

@menuMobileMinWidthInPX: 266;
@menuMobileWidth: 83%;
@menuMobileHeight: 100vh;
@menuMobileZIndex: 5;
@submenuMobileLinkFontSizeInPx: 14;
@menuMobileLinkFontSizeInPx: 14;
@menuMobileActionButtonsHeightInPx: 53;

@menuListRootNegativeMarginLeft: @menuListLinkPaddingHorizontal * -1;
@menuListGradientWidth: 8%;

@menuSidebarLevel2MaxHeight: 400px;
