@selectColorPrimary: @neutralColors0;
@selectColorSecondary: @primaryColors500;
@selectColorTertiary: @neutralColors50;

@selectFontColorSecondary: @neutralColors0;

@selectOptionsListMaxHeightInPx: 296;

@selectFontSizeInPx: 14;
@selectLineHeightInPx: 20;
@selectWithSearchMinWidth: 120px;

@selectSelectedColor: @selectColorSecondary;

@selectDisabledBgColor: @neutralColors50;
@selectDisabledColor: @neutralColors500;
@selectDisabledBorderColor: @neutralColors50;

@selectWithLinksWidth: 200px;

@selectErrorColor: @controlErrorColor;
@selectErrorBorderColor: @controlErrorBorderColor;
@selectBoxShadowError: inset 0 0 0px 1px @selectErrorBorderColor;

@selectBtnPrimaryBgColor: @btnBgColorPrimary;
@selectBtnHoverPrimaryBgColor: @btnBgColorPrimaryHover;
@selectBtnPrimaryColor: @btnColorPrimary;

@selectBtnSecondaryBgColor: @btnBgColorSecondary;
@selectBtnHoverSecondaryBgColor: @btnBgColorPrimaryHover;
@selectBtnSecondaryColor: @btnColorSecondary;

@selectFocusBoxShadow: @inputBoxShadowFocus;
@selectFocusBorderColor: @selectSelectedColor;
@selectFocusBorderRadius: 2px 2px 0 0;

@selectContentBgColor: @selectColorPrimary;
@selectContentBorder: 1px solid @selectSelectedColor;
@selectContentBorderRadius: 0 0 2px 2px;
@selectContentPaddingAllInPx: 0;
@selectContentMobilePaddingTopInPx: 72;
@selectContentMobilePaddingBottomInPx: 24;

@selectFooterBorderTopColor: @neutralColors200;
@selectFooterBorderTop: 1px solid @selectFooterBorderTopColor;
@selectFooterPaddingHorizontalInPx: 16;
@selectFooterPaddingVerticalInPx: 8;
@selectFooterMobilePaddingTopInPx: 24;
@selectFooterMobilePaddingRightInPx: 24;
@selectFooterMobilePaddingLeftInPx: 0;
@selectFooterMobilePaddingBottomInPx: 0;

@selectCloseMobileBtnPaddingHorizontalInPx: 18;
@selectCloseMobileBtnPaddingVerticalInPx: 20;

@selectLabelPaddingHorizontal: 24;
@selectLabelPaddingVertical: 4;

@selectNoResultMobilePaddingTopInPx: 12;
@selectNoResultMobilePaddingRightInPx: 24;

@selectTitleFontSize: @selectFontSizeInPx;
@selectTitleLineHeight: @selectLineHeightInPx;
@selectTitleMarginBottom: 4;
