@productVariantsErrorBorderWidth: 2px;
@productVariantsErrorBorderStyle: solid;
@productVariantsErrorBorderColor: @errorColors500;

@productVariantsErrorBorder: @productVariantsErrorBorderWidth @productVariantsErrorBorderStyle @productVariantsErrorBorderColor;
