@colorItemSize: 40px;
@colorItemBorder: 1px solid @neutralColors300;
@colorItemSelectedBorder: 2px solid @primaryColor;
@colorItemSelectedDisabledBorderColor: @primaryColors200;
@colorItemDisabledBorderColor: @neutralColors300;
@colorItemDisabledLineWidth: 2px;
@colorItemSelectedIconUrl: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
@colorItemSelectedDisabledIconUrl: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 3L3 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3L9 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
@colorItemSelectedIconTopPostion: -2px;
@colorItemSelectedIconRightPostion: -4px;
@colorItemSelectedIconWrapperSize: 16px;
@colorItemSelectedIconWrapperColor: @primaryColor;
@colorItemXsSize: 20px;
@colorItemSSize: 32px;
