.loyalty-program {
    .font-size(@loyaltyProgramFontSize);
    .line-height(@loyaltyProgramLineHeight);
    padding: @loyaltyProgramPaddingVertical @loyaltyProgramPaddingHorizontal;
    border-top: @loyaltyProgramBorderWidth @loyaltyProgramBorderStyle @loyaltyProgramBorderColor;
    border-bottom: @loyaltyProgramBorderWidth @loyaltyProgramBorderStyle @loyaltyProgramBorderColor; 

    &__points{
        font-weight: @loyaltyProgramPointsFontWeight;
    }
}