@loyaltyProgramPaddingVertical: @globalSpacing * 0.75;
@loyaltyProgramPaddingHorizontal: 0;

@loyaltyProgramBorderWidth: 1px;
@loyaltyProgramBorderStyle: solid;
@loyaltyProgramBorderColor: @neutralColors100;

@loyaltyProgramFontSize: @fontSizeInPxS;
@loyaltyProgramLineHeight: @lineHeightInPxS;

@loyaltyProgramPointsFontWeight: @fontWeightSemibold;
