.blog-category-list-title {
    .font-size(@blogCategoryListTitleFontSize);
    .line-height(@blogCategoryListTitleLineHeight);
    font-weight: @blogCategoryListTitleFontWeight;

    color: @blogCategoryListTitleColor;

    margin-bottom: @blogCategoryListTitleMarginBottom;
}
