@blogCategoryListTitleFontSize: 32;
@blogCategoryListTitleLineHeight: 40;
@blogCategoryListTitleFontWeight: @fontWeightSemibold;

@blogCategoryListTitleColor: @globalFontColor;

@blogCategoryListTitleMarginBottom: @globalSpacing * 2;
