@paginationGap: @globalSpacing;

@paginationButtonGap: calc(@globalSpacing * 0.625);
@paginationButtonFontSize: @fontSizeInPxS;
@paginationButtonLineHeight: @lineHeightInPxS;
@paginationButtonPadding: calc(@globalSpacing * 0.75);

@paginationButtonSmallPadding: calc(@globalSpacing * 0.5);
@paginationButtonSmallPaddingMobile: calc(@globalSpacing * 0.5);

@paginationButtonWithTextPaddingVertical: calc(@globalSpacing * 0.5);
@paginationButtonWithTextPaddingHorizontal: @globalSpacing;
@paginationButtonWithTextPaddingMobile: calc(@globalSpacing * 0.75);

@paginationIconPrevColor: @neutralColors700;
@paginationIconNextColor: @primaryColors500;

@paginationPageSelectorGap: calc(@globalSpacing * 0.25);
@paginationPageSelectorFontSize: @fontSizeInPxXS;
@paginationPageSelectorLineHeight: @lineHeightInPxS;
@paginationPageSelectorColor: @globalFontColor;
