@countDownTimerHeightSmall: 356px;
@countDownTimerHeightMedium: 400px;
@countDownTimerHeightLarge: 516px;
@countDownTimerContainerGap: @globalSpacing * 2;

@countDownTimerPaddingMobile: @globalSpacing;
@countDownTimerPadding: @globalSpacing * 2.5;

@countDownTimerContentMaxWidth: 720px;

@countDownTimerUnitMinWidthMobile: 45px;
@countDownTimerUnitMinWidth: 76px;
@countDownTimerUnitValuePaddingMobile: @globalSpacing * 0.75;
@countDownTimerUnitValuePadding: @globalSpacing * 1.25;

@countDownTimerUnitValueFontSizeMobile: @baseFontSize;
@countDownTimerUnitValueFontSize: @baseFontSize * 1.75;

@countDownTimerUnitLabelFontSizeMobile: @baseFontSize * 0.625;
@countDownTimerUnitLabelFontSize: @baseFontSize * 0.875;

@countDownTimerUnitGapMobile: @globalSpacing * 0.5;
@countDownTimerUnitGap: @globalSpacing * 1.5;

@countDownTimerUnitWithSeparatorGapMobile: @countDownTimerUnitGapMobile * 0.5;
@countDownTimerUnitWithSeparatorGap: @countDownTimerUnitGap * 0.5;

@countDownTimerSeparatorWidth: 0.375rem;
@countDownTimerDescriptionFontSize: @baseFontSize;
