@selectSearchBorderColor: @neutralColors200;
@selectSearchBorder: 1px solid @selectSearchBorderColor;
@selectSearchBoxShadow: 0 4px 3px -4px @selectSearchBorderColor;

@selectSearchPaddingTopInPx: 10;
@selectSearchPaddingRightInPx: 4;
@selectSearchPaddingBottomInPx: 10;
@selectSearchPaddingLeftInPx: 15;

@selectSearchFontSize: @selectFontSizeInPx;
@selectSearchLineHeight: @selectLineHeightInPx;
@selectSearchIconColor: @neutralColors500;

@selectSearchInputColor: @globalFontColor;

@selectSearchMobilePaddingLeftInPx: 23;