@trialBarFontColor: #fff;
@trialBarBackgroundColor: #464fe5;

@trialBarHeight: 70;

@trialBarFontSize: @fontSizeInPxS;
@trialBarLineHeight: @lineHeightInPxS;

@trialBarGapMobile: @globalSpacing * 2.25;