@storeDisabledTextAlign: center;
@storeDisabledAnnouncementColor: @globalFontColorSecondary;
@storeDisabledAnnouncementFontSize: @fontSizeInPxS;
@storeDisabledAnnouncementLineHeight: @lineHeightInPxS;
