.store-disabled {
    text-align: @storeDisabledTextAlign;

    &__announcement {
        display: block;
        color: @storeDisabledAnnouncementColor;
        .font-size(@storeDisabledAnnouncementFontSize);
        .line-height(@storeDisabledAnnouncementLineHeight)
    }
}
