@productReviewRateCountFontSize: @fontSizeInPxXS;

@productReviewDescriptionFontSize: @fontSizeInPxXS;
@productReviewDescriptionLineHeight: @lineHeightInPxXS;
@productReviewDescriptionColor: @globalFontColorSecondary;
@productReviewDescriptionMarginTop: @globalSpacing * 3;