@labeledIconPaddingTop: 4;
@labeledIconPaddingRight: 4;
@labeledIconPaddingBottom: 4;
@labeledIconPaddingLeft: 4;

@labeledIconColor:@globalFontColor;
@labeledIconIconFillColor: @labeledIconColor;
@labeledIconIconStrokeColor: @labeledIconColor;
@labeledIconSignatureColor: @labeledIconColor;
